<div class="PageAboutUs">
  <a name="values"></a> 
    <div class = "aboutHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1>About FINSOC</h1>
    </div>
    </div>
</div>
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Primary Goal</h2>
            <br/>
        </div>
        <span class="FinsocHighlight">To help Business Students with an interest in Banking and Financial Planning in achieving their career objectives within the Financial services industry.</span><br/><br/>
        <b><i>Utilising the following strategies:</i></b>
      <ul class="dot-points">
        <li>Equipping students with skills relevant to the industry</li>
        <li>Informing students about career opportunities</li>
        <li>Connecting students with employees</li>
        <li>Providing strategies and insights to build confidence and empower students to successfully navigate interviews and assessment centres</li>
      </ul>
      </div>
    </div>

    <div class="section2">
    <div class="section2">
      <div class="section-text container">
        <div class="subheading">
           <h2 class="h2Custom">Who are we?</h2>
            <br/>
        </div>
         The <span class="FinsocHighlight">Finance and Banking Society (FINSOC)</span> is a <b>prestigious constituent society</b> with branches operating in three universities: the University of New South Wales, the University of Sydney and the Australian National University.<br/><br/>
         With <span class="FinsocHighlight">3,000</span> student members, FINSOC is <b>one of the largest</b> student society networks in Australia dedicated to student education, enrichment and employability within the financial services sector.
      </div>
    </div>

    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Our Focus</h2>
            <br/>
        </div>
        FINSOC&#39s focus is within <span class="text-content-finsoc">Banking and Financial Planning</span>, providing students with a unique opportunity to gain a distinctive advantage in an ever growing competitive landscape.<br/><br/>
        We do this through a vast alumni base and an extensive list of industry contacts and sponsors. FINSOC is a progressive society with the ultimate goal of adding <b>exceptional value</b> to your employability and career progression.
      </div>
    </div>

    <a name="team"></a> 
    <div class = "teamHeader container">
        <br/>
        <div class="subheading">
           <h2 class="h2Custom">Our Team</h2>
            <br/>
        </div>
        </div>
    <ul id="og-grid" class="container og-grid container">
      <div class="row ppl-row">
      <li>
      <a data-largesrc='<%= image_path "photos/jacqueline.jpg" %>' data-title="Jacqueline Liu " data-subtitle="Co-President <br/></strong> <a href='mailto:secretary@unswfinsoc.org.au'> secretary@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jacquelineliu2020/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
        data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Accounting/Finance)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Maintain my cat&rsquo;s instagram </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The people &lt;3 </p>
<p><strong>Why are you studying finance:</strong> Relevant across diverse industries </p>
">
        <div class="hover-image">
          <%= image_tag "photos/jacqueline.jpg", class: "portrait", alt: "Jacqueline Liu" %>
          <div class="hover-text"><p>Click for bio</p></div>
        </div>
        <div class="ppl-title">
          <h3>Jacqueline Liu</h3><p>Co-President</p>
        </div>
        </a>
    </li>
    <li>
    <a data-largesrc='<%= image_path "photos/jeffrey.jpg" %>' data-title="Jeffrey Zhao" data-subtitle="Co-President <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'>academic@unswfinsoc.org.au</a><p><a href='https://www.linkedin.com/in/jeffrey-zhao-958638154/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
      data-description="<p><strong>Degree: </strong>Bachelor of Commerce/ Bachelor of Laws</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time: </strong>I enjoy hiking and planning for the countless holidays that have yet to be experienced!</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> I love how realistic and useful FINSOC is. It&rsquo;s the closest you can get to understand where your degree can get take you,</p>
<p><strong>Why are you studying finance:</strong> I would love to be a funds manager. To have people trust and rely my financial expertise would be so rewarding! I hope to learn and develop innovative business strategies and portfolio management skills throughout my finance degree that can build strong returns for my future clients. </p>
">
      <div class="hover-image">
        <%= image_tag "photos/jeffrey.jpg", class: "portrait", alt: "Jeffery Zhao" %>
        <div class="hover-text"><p>Click for bio</p></div>
      </div>
      <div class="ppl-title">
        <h3>Jeffrey Zhao</h3><p>Co-President</p>
      </div>
      </a>
  </li>
        
      </div>
        <div class="row ppl-row">
        
        
        
        <li>
          <a data-largesrc='<%= image_path "photos/may.jpg" %>' data-title="May Chen" data-subtitle="Vice President <br/></strong> <a href='mailto:education@unswfinsoc.org.au'> education@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/may-chen-643802179/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Law / Bachelor of Commerce (Finance)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I like travelling to new places and doing hikes to get me closer to nature. When I'm not doing that, I like to watch travel vlogs! I also do salsa on Sundays. </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> I love that FINSOC brings you closer to the real world of finance and enriches your knowledge and appreciation of finance. I also love working alongside such an amazing team!</p>
<p><strong>Why are you studying finance:</strong> I'm studying Finance because it is a broad discipline and has a broad application. Learning the theory and then understanding its practical applications to a range of different things is very self-rewarding and cool!</p>
">
            <div class="hover-image">
              <%= image_tag "photos/may.jpg", class: "portrait", alt: "May Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>May Chen</h3><p>Vice President<br>(Education)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/jess.jpg" %>' data-title="Jessica Chen" data-subtitle="Vice President <br/></strong> <a href='mailto:internal@unswfinsoc.org.au'> internal@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jessica-chen-674865141/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Actuarial Studies</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong><strong>:</strong> Music, videos and cat</p>
<p><strong>Your Favourite Thing About FINSOC</strong><strong>:</strong> My favourite thing about FINSOC is the tight knit family I get to be a part of.</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Financial literacy is important as it underpins everything we do.</p>">
            <div class="hover-image">
              <%= image_tag "photos/jess.jpg", class: "portrait", alt: "Jessica Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jessica Chen</h3><p>Vice President<br>(Internal)</p>
            </div>
          </a>
        </li>
        
      </div>
      <div class="subsection-title"><h3>External</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/michael.jpg" %>' data-title="Michael Kwon" data-subtitle="Sponsorship Director <br/></strong> <a href='mailto:sponsorship@unswfinsoc.org.au'> sponsorship@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/michael-kwon-44b114129/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
          data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Finance) / Bachelor of Actuarial Studies </p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: I love playing basketball and watching Netflix.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> My favourite thing about FINSOC is the people. We are a tight group of people that support each other develop both personally and professionally. From fun social dinners to weekly board meetings, FINSOC will enrich your university experience.</p>
<p><strong>Why are you studying finance: </strong>I'm studying finance because I believe helping corporations grow through financing and transactions is the best way to make an impact</p>
">
            <div class="hover-image">
              <%= image_tag "photos/michael.jpg", class: "portrait", alt: "Michael Kwon" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Michael Kwon</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/tiffany.jpg" %>' data-title="Tiffany Chan" data-subtitle="Careers Director <br/></strong> <a href='mailto:careers@unswfinsoc.org.au'> careers@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tiffany-chan9/?trk=pub-pbmap&originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Finance) / Bachelor of Law</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Gym and Travel</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: People and the culture</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Diverse career opportunities and pathways.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/tiffany.jpg", class: "portrait", alt: "Tiffany Chan" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Tiffany Chan</h3><p>Careers Director</p>
            </div>
          </a>
        </li>
          <li>
          <a data-largesrc='<%= image_path "photos/ronald.jpg" %>' data-title="Ronald Ip" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/ronaldip/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Commerce/Economics</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Soccer, Travelling</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> Lit times with lit people!</p>
">
            <div class="hover-image">
              <%= image_tag "photos/ronald.jpg", class: "portrait", alt: "Ronald Ip" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Ronald Ip</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
          <li>
          <a data-largesrc='<%= image_path "photos/alicia.jpg" %>' data-title="Alicia Chea" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/alicia-chea-a33118129/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Laws/Commerce (Finance)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> When I&rsquo;m not drowning from uni work, I like to spend my time traveling, hanging out with friends, learning how to photog and all of the above at the same time.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The finsoc fam and of course, my buddy (@Jess Chen)</p>
<p><strong>Why are you studying finance:</strong> Finance challenges me to adopt a different strategic mindset that my other degree fosters. Finance being relevant to many aspects in life is just a plus!</p>
">
            <div class="hover-image">
              <%= image_tag "photos/alicia.jpg", class: "portrait", alt: "Alicia Chea" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Alicia Chea</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h3>Education</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/valerie.jpg" %>' data-title="Valerie Tran" data-subtitle="Co-Education Director <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'> academic@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/valerietransyd/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Co-op) (Hons) - Finance</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: 
I love going for a swim and I appreciate a good concert! </p>
<p><strong>Your Favourite Thing About FINSOC</strong>: Without a doubt the people I get to share this experience with and the satisfaction of organising and running events that are appreciated by the thousands of finance students at UNSW.</p>
<p><strong>Why are you studying finance</strong>: The drive and passion of the role models I&rsquo;ve been lucky enough to be surrounded by at first inspired me to find out more about the industry. Studying finance and seeing the application of theory based knowledge to the practical side of things is very rewarding and what continues to interest me.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/valerie.jpg", class: "portrait", alt: "Valerie Tran" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Valerie Tran</h3><p>Co-Education Director</p>
            </div>
          </a>
        </li>
          
        <li>
          <a data-largesrc='<%= image_path "photos/nathan.jpg" %>' data-title="Nathan Joeng" data-subtitle="Publications Director <br/></strong> <a href='mailto:publications@unswfinsoc.org.au'> publications@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/nathanjoeng/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> In my spare time I enjoy travelling, hiking and going to the gym.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> My favourite part about FINSOC is working together with a great group of individuals. &nbsp;</p>
<p><strong>Why are you studying finance:</strong> I am studying finance because I find it challenging and believe it opens up many opportunities.
">
            <div class="hover-image">
              <%= image_tag "photos/nathan.jpg", class: "portrait", alt: "Nathan Joeng" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Nathan Joeng</h3><p>Publications Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h3>Internal</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/panashe.jpg" %>' data-title="Panashe Mutema" data-subtitle="IT Director <br/></strong> <a href='mailto:it@unswfinsoc.org.au'> it@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/panashe-mutema-583027b3/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Commerce/Computer Science</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Lived in 3 different countries, play tennis, enjoy EPL</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> Great people, Good times.</p>
<p><strong>Why are you studying finance:</strong> I have an Interest in how money moves the world</p>
">
            <div class="hover-image">
              <%= image_tag "photos/panashe.jpg", class: "portrait", alt: "Panashe Mutema" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Panashe Mutema</h3><p>IT Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/victoria.jpg" %>' data-title="Victoria Xu" data-subtitle="Marketing Director <br/></strong> <a href='mailto:marketing@unswfinsoc.org.au'> marketing@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/victoria-xu-56a999149/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Economics<br><strong>
            <p>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Movies and OzTag <br><strong></p>
            <p>Your Favourite Thing About FINSOC:</strong> The people.</p>
            <p><strong>Why are you studying finance:</strong> Because it’s the most useful major that will help me for the rest of my life</p>
            ">
            <div class="hover-image">
              <%= image_tag "photos/victoria.jpg", class: "portrait", alt: "Victoria Xu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Victoria Xu</h3><p>Marketing Director</p>
            </div>
          </a>
        </li>
          <br/>
        <li>
          <a data-largesrc='<%= image_path "photos/tony.jpg" %>' data-title="Tony Chen" data-subtitle="Co-HR Director <br/></strong> <a href='mailto:hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tony-chen-854217163/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I love watching MKR and playing ping pong.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The internally driven members and the familial culture.</p>
<p><strong>Why are you studying finance:</strong> Because my mum told me to and I really enjoy it.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/tony.jpg", class: "portrait", alt: "Tony Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Tony Chen</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
          <li>
          <a data-largesrc='<%= image_path "photos/female.jpg" %>' data-title="Sophia Do" data-subtitle="Co-HR Director <br/></strong> <a href='mailto:hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/sophia-do-166644143/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong>  Bachelor of Commerce (Finance)/Laws</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I like eating, travelling and getting 8 hours of sleep every night.  </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The opportunity to grow both personally and professionally.</p>
<p><strong>Why are you studying finance:</strong> So I can make good financial decisions throughout my life.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/female.jpg", class: "portrait", alt: "Sophia Do" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sophia Do</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
      </div>      
    </ul>
    <br />
    <br />
    <hr />
</div>
