<div class="PageAboutUs">
  <a name="values"></a> 
    <div class = "aboutHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1>About FINSOC</h1>
    </div>
    </div>
</div>
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Primary Goal</h2>
            <br/>
        </div>
        <span class="FinsocHighlight">To help Business Students with an interest in Banking and Financial Planning in achieving their career objectives within the Financial services industry.</span><br/><br/>
        <b><i>Utilising the following strategies:</i></b>
      <ul class="dot-points">
        <li>Equipping students with skills relevant to the industry</li>
        <li>Informing students about career opportunities</li>
        <li>Connecting students with employees</li>
        <li>Providing strategies and insights to build confidence and empower students to successfully navigate interviews and assessment centres</li>
      </ul>
      </div>
    </div>

    <div class="section2">
    <div class="section2">
      <div class="section-text container">
        <div class="subheading">
           <h2 class="h2Custom">Who are we?</h2>
            <br/>
        </div>
         The <span class="FinsocHighlight">Finance and Banking Society (FINSOC)</span> is a <b>prestigious constituent society</b> with branches operating in three universities: the University of New South Wales, the University of Sydney and the Australian National University.<br/><br/>
         With <span class="FinsocHighlight">3,000</span> student members, FINSOC is <b>one of the largest</b> student society networks in Australia dedicated to student education, enrichment and employability within the financial services sector.
      </div>
    </div>

    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Our Focus</h2>
            <br/>
        </div>
        FINSOC&#39s focus is within <span class="text-content-finsoc">Banking and Financial Planning</span>, providing students with a unique opportunity to gain a distinctive advantage in an ever growing competitive landscape.<br/><br/>
        We do this through a vast alumni base and an extensive list of industry contacts and sponsors. FINSOC is a progressive society with the ultimate goal of adding <b>exceptional value</b> to your employability and career progression.
      </div>
    </div>

    <a name="team"></a> 
    <div class = "teamHeader container">
        <br/>
        <div class="subheading">
           <h2 class="h2Custom">Our Team</h2>
            <br/>
        </div>
        </div>
    <ul id="og-grid" class="container og-grid container">
      <div class="row ppl-row">
      <li>
      <a data-largesrc='<%= image_path "photos/Tiffany2020.jpg" %>' data-title="Tiffany Chan " data-subtitle="Co-President <br/></strong> <a href='mailto:secretary@unswfinsoc.org.au'> secretary@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tiffany-chan9/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
        data-description="<p><strong>Degree:</strong> Bachelor of Commerce/ Bachelor of Law</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Gym and travel </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The people &lt;3 </p>
<p><strong>Why are you studying finance:</strong> Relevant across diverse industries </p>
">
        <div class="hover-image">
          <%= image_tag "photos/Tiffany2020.jpg", class: "portrait", alt: "Tiffany Chan" %>
          <div class="hover-text"><p>Click for bio</p></div>
        </div>
        <div class="ppl-title">
          <h3>Tiffany Chan</h3><p>Co-President</p>
        </div>
        </a>
    </li>
    <li>
    <a data-largesrc='<%= image_path "photos/TonyC2020.jpg" %>' data-title="Tony Chen" data-subtitle="Co-President <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'>academic@unswfinsoc.org.au</a><p><a href='https://www.linkedin.com/in/tony-chen-854217163/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
      data-description="<p><strong>Degree: </strong>Bachelor of Commerce</p>
<p><strong>Stage in Uni: </strong> 4th year</p>
<p><strong>What drives you: </strong> The people around me</p>
<p><strong>What is a cool trick you can do: </strong> I can cook anything with an airfryer </p>
                        <p><strong>Hobbies:</strong> Basketball,guitar and gym </p>                     
">
      <div class="hover-image">
        <%= image_tag "photos/TonyC2020.jpg", class: "portrait", alt: "Tony Chen" %>
        <div class="hover-text"><p>Click for bio</p></div>
      </div>
      <div class="ppl-title">
        <h3>Tony Chen</h3><p>Co-President</p>
      </div>
      </a>
  </li>
        
      </div>
        <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Michael2020.jpg" %>' data-title="Michael Kwon" data-subtitle="Vice President (Activities)<br/></strong> <a href='mailto:education@unswfinsoc.org.au'> education@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/michael-kwon-44b114129/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Law / Bachelor of Commerce (Finance)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I like travelling to new places and doing hikes to get me closer to nature. When I'm not doing that, I like to watch travel vlogs! I also do salsa on Sundays. </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> I love that FINSOC brings you closer to the real world of finance and enriches your knowledge and appreciation of finance. I also love working alongside such an amazing team!</p>
<p><strong>Why are you studying finance:</strong> I'm studying Finance because it is a broad discipline and has a broad application. Learning the theory and then understanding its practical applications to a range of different things is very self-rewarding and cool!</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Michael2020.jpg", class: "portrait", alt: "Michael Kwon" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Michael Kwon</h3><p>Vice President<br>(Activities)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Abby2020.jpg" %>' data-title="Abby Cao" data-subtitle="Vice President (External)<br/></strong> <a href='mailto:external@unswfinsoc.org.au'> external@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/abby-cao/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Actuarial Studies</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong><strong>:</strong> Music, videos and cat</p>
<p><strong>Your Favourite Thing About FINSOC</strong><strong>:</strong> My favourite thing about FINSOC is the tight knit family I get to be a part of.</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Financial literacy is important as it underpins everything we do.</p>">
            <div class="hover-image">
              <%= image_tag "photos/Abby2020.jpg", class: "portrait", alt: "Abby Cao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Abby Cao</h3><p>Vice President<br>(External)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Merrynal2020.jpg" %>' data-title="Merrynal Anthony" data-subtitle="Vice President (Operations)<br/></strong> <a href='mailto:operations@unswfinsoc.org.au'> operations@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-merrynal-39324316b' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Law</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong><strong>:</strong> Photography and eat too much.</p>
<p><strong>Your Favourite Thing About FINSOC</strong><strong>:</strong> The FINSOC family! Everyone is incredibly supportive of your personal and professional goals.</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Given the broad spectrum of areas that finance touches on, studying this degree provides the opportunity to explore many different career paths and discover what interests you most.</p>">
            <div class="hover-image">
              <%= image_tag "photos/Merrynal2020.jpg", class: "portrait", alt: "Merrynal Anthony" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Merrynal Anthony</h3><p>Vice President<br>(Operations)</p>
            </div>
          </a>
        </li>
          <br/>
        <li>
          <a data-largesrc='<%= image_path "photos/William2020.jpg" %>' data-title="William Yao" data-subtitle="General Secretary<br/></strong> <a href='mailto:secretary@unswfinsoc.org.au'> internal@unswfinsoc.org.au </a><p><a href='www.linkedin.com/in/william-yao078/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Arts</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong><strong>:</strong> I do acting! (NIDA Actor's Studio for 2019)</p>
<p><strong>Your Favourite Thing About FINSOC</strong><strong>:</strong> My Favourite thing about FINSOC is the fact that our team members are extremely motivated and hardworking individuals, but are also easy-going and friendly- you can talk about anything with them!</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> I specifically chose Finance as the understanding of the Finance industry broadens the understanding of public policy, which is an area I am interested in. (Also related to my Arts degree- Politics and IR!)</p>">
            <div class="hover-image">
              <%= image_tag "photos/William2020.jpg", class: "portrait", alt: "William Yao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>William Yao</h3><p>General Secretary</p>
            </div>
          </a>
        </li>
        
      </div>
      <div class="subsection-title"><h3>Activities</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Kelly2020.jpg" %>' data-title="Kelly Lai" data-subtitle="Co-HR Director <br/></strong> <a href='mailto:hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/michael-kwon-44b114129/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
          data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Finance) / Bachelor of Actuarial Studies </p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: I love playing basketball and watching Netflix.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> My favourite thing about FINSOC is the people. We are a tight group of people that support each other develop both personally and professionally. From fun social dinners to weekly board meetings, FINSOC will enrich your university experience.</p>
<p><strong>Why are you studying finance: </strong>I'm studying finance because I believe helping corporations grow through financing and transactions is the best way to make an impact</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Kelly2020.jpg", class: "portrait", alt: "Kelly Lai" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Kelly Lai</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Raymond2020.jpg" %>' data-title="Raymond Shen" data-subtitle="Co-HR Director <br/></strong> <a href='hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tiffany-chan9/?trk=pub-pbmap&originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Finance) / Bachelor of Law</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Gym and Travel</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: People and the culture</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Diverse career opportunities and pathways.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Raymond2020.jpg", class: "portrait", alt: "Raymond Shen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Raymond Shen</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Ming2020.jpg" %>' data-title="Ming Qin" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/abby-cao/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: I am obsessed with either wasting my time binging all the shows on Netflix or wasting all my money into aesthetic brunches, malatang and hanging out with my lovely humans.</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: Definitely the culture, the lovely fam and the support you get from them.</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Learning about the fundamental financial theory is pretty cool. Learning how it is applied into the real world is even cooler :) </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Ming2020.jpg", class: "portrait", alt: "Ming Qin" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Ming Qin</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
        
        <br/>
        
          <li>
          <a data-largesrc='<%= image_path "photos/Audrey2020.jpg" %>' data-title="Audrey Yeo" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jake-green-80a914135/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Accounting)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Studied at the University of Florida for 6 months, and managed to travel to Cuba.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The social atmosphere and how dedicated everyone is to each other.</p>
<p><strong>Why are you studying finance:</strong> Finance gives a solid and fundamental background on how a company operates and survives.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Audrey2020.jpg", class: "portrait", alt: "Audrey Yeo" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Audrey Yeo</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
          
      </div>
      <div class="subsection-title"><h3>Externals</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Nahum2020.jpg" %>' data-title="Nahum Adeel" data-subtitle="Co-Education Director <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'> academic@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/glennschach/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Finance/Accounting)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: 
Love to travel (yes, even in Asia), and playing sports.</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: The people, the roadtrips and Shancheng! Getting to be around like-minded people really drives me, especially in a field that I am really passionate about.</p>
<p><strong>Why are you studying finance</strong>: Finance is a discipline that no matter what industry you work in, is relevant, and if you understand the numbers side of things, companies will always be chasing you. </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Nahum2020.jpg", class: "portrait", alt: "Nahum Adeel" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Nahum Adeel</h3><p>Co-Education Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/female.jpg" %>' data-title="Coco Xu" data-subtitle="Co-Education Director <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'> academic@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/william-yao078/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Actuarial Studies</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: I used to tap dance as a kid!</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: You can't do it alone! The FINSOC team is so GENUINELY nice and helpful, and this was such a welcome surprise coming from competitive environments where it’s every man for himself. I have grown immensely thanks to the support of friends who are internally driven themselves, but are also willing to support each other. As Education Director this year, I can’t wait to share what I’ve learnt with the new generation of Finance students.</p>
<p><strong>Why are you studying finance</strong>: I enjoy studying finance because of the variety and applicability of what I learn. Each course equips me with not only knowledge of particular financial practice area, but the confidence that I can tackle the challenges of whichever career path I choose. I enjoy how this breadth serves as a natural complement to the depth of actuarial studies and actuarial work.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/female.jpg", class: "portrait", alt: "Coco Xu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Coco Xu</h3><p>Co-Education Director</p>
            </div>
          </a>
        </li>
          
        <li>
          <a data-largesrc='<%= image_path "photos/Matt2020.jpg" %>' data-title="Mathew Sulistyo" data-subtitle="Co-Careers Director <br/></strong> <a href='mailto:careers@unswfinsoc.org.au'> careers@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-merrynal-39324316b/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Love hitting the gym, taking my dog for runs and listening to kpop.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The people that make the society what it is. Also the 'wholesome' road trips are a highlight!</p>
<p><strong>Why are you studying finance:</strong> I've always been intrested in working overseas in financial markets and have a keen interest in Financial Modeling, M&A and international finance!
">
            <div class="hover-image">
              <%= image_tag "photos/Matt2020.jpg", class: "portrait", alt: "Mathew Sulistyo" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Mathew Sulistyo</h3><p>Co-Careers Director</p>
            </div>
          </a>
        </li>
      
        <br/>
        
        <li>
          <a data-largesrc='<%= image_path "photos/Emily2020.jpg" %>' data-title="Emily Weng" data-subtitle="Co-Careers Director <br/></strong> <a href='mailto:careers@unswfinsoc.org.au'> careers@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-merrynal-39324316b/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Love hitting the gym, taking my dog for runs and listening to kpop.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The people that make the society what it is. Also the 'wholesome' road trips are a highlight!</p>
<p><strong>Why are you studying finance:</strong> I've always been intrested in working overseas in financial markets and have a keen interest in Financial Modeling, M&A and international finance!
">
            <div class="hover-image">
              <%= image_tag "photos/Emily2020.jpg", class: "portrait", alt: "Emily Weng" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Emily Weng</h3><p>Co-Careers Director</p>
            </div>
          </a>
        </li>
        
      </div>
      <div class="subsection-title"><h3>Internal</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Anthony2020.jpg" %>' data-title="Anthony Pham" data-subtitle="Co-IT Director <br/></strong> <a href='mailto:it@unswfinsoc.org.au'> it@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/samarthtripathi/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Economics / Bachelor of Advanced Math</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Soccer <3</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The ability to grow and learn from some of the most proactive and intelligent people here at UNSW.</p>
<p><strong>Why are you studying finance:</strong> I love being able to keep up to date with everything that's happening around the world, from STEM to politics, as all factors can make a significant impact the markets. Furthermore, I love the fast paced volatility of the finance world. </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Anthony2020.jpg", class: "portrait", alt: "Anthony Pham" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Anthony Pham</h3><p>Co-IT Director</p>
            </div>
          </a>
        </li>
        
        <li>
          <a data-largesrc='<%= image_path "photos/Tony2020.jpg" %>' data-title="Tony Mao" data-subtitle="Co-IT Director <br/></strong> <a href='mailto:it@unswfinsoc.org.au'> it@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/samarthtripathi/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Economics / Bachelor of Advanced Math</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Soccer <3</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The ability to grow and learn from some of the most proactive and intelligent people here at UNSW.</p>
<p><strong>Why are you studying finance:</strong> I love being able to keep up to date with everything that's happening around the world, from STEM to politics, as all factors can make a significant impact the markets. Furthermore, I love the fast paced volatility of the finance world. </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Tony2020.jpg", class: "portrait", alt: "Tony Mao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Tony Mao</h3><p>Co-IT Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Calvin2020.jpg" %>' data-title="Calvin Fong" data-subtitle="Co-Marketing Director <br/></strong> <a href='mailto:marketing@unswfinsoc.org.au'> marketing@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/victoria-xu-56a999149/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Economics<br><strong>
            <p>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Movies and OzTag <br><strong></p>
            <p>Your Favourite Thing About FINSOC:</strong> The people.</p>
            <p><strong>Why are you studying finance:</strong> Because it’s the most useful major that will help me for the rest of my life</p>
            ">
            <div class="hover-image">
              <%= image_tag "photos/Calvin2020.jpg", class: "portrait", alt: "Calvin Fong" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Calvin Fong</h3><p>Co-Marketing Director</p>
            </div>
          </a>
        </li>
       
        <br/>
        
        <li>
          <a data-largesrc='<%= image_path "photos/Nick2020.jpg" %>' data-title="Nick Joeng" data-subtitle="Co-Marketing Director <br/></strong> <a href='mailto:marketing@unswfinsoc.org.au'> marketing@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jared-pierre-785ab1159/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Information Systems<br><strong>
            <p>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Fun Fact - I'm Chinese and Indian with a French last name! <br><strong></p>
            <p>Your Favourite Thing About FINSOC:</strong> Great environment to balance professional development in Finance Industry as well as the social aspects that make university.</p>
            <p><strong>Why are you studying finance:</strong> Another Fun Fact - No finance major for me, I do Marketing and Information Systems. I do however have a strong interest in technology and I see value in the way technology has impacted and disrupted the finance industry. I'm currently interested in potentially pursuing opportunities in FinTech in the future.</p>
            ">
            <div class="hover-image">
              <%= image_tag "photos/Nick2020.jpg", class: "portrait", alt: "Mick Joeng" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Nick Joeng</h3><p>Co-Marketing Director</p>
            </div>
          </a>
        </li>
        
          
        <li>
          <a data-largesrc='<%= image_path "photos/Larissa2020.jpg" %>' data-title="Larissa Wang" data-subtitle="Co-Publications Director <br/></strong> <a href='mailto:publications@unswfinsoc.org.au'> publications@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tony-chen-854217163/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I love watching MKR and playing ping pong.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The internally driven members and the familial culture.</p>
<p><strong>Why are you studying finance:</strong> Because my mum told me to and I really enjoy it.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Larissa2020.jpg", class: "portrait", alt: "Larissa Wang" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Larissa Wang</h3><p>Co-Publications Director</p>
            </div>
          </a>
        </li>
          <li>
          <a data-largesrc='<%= image_path "photos/Rishi2020.jpg" %>' data-title="Rishi Chhugani" data-subtitle="Co-Publications Director <br/></strong> <a href='mailto:publications@unswfinsoc.org.au'> publications@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/sophia-do-166644143/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong>  Bachelor of Commerce (Finance)/Laws</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I like eating, travelling and getting 8 hours of sleep every night.  </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The opportunity to grow both personally and professionally.</p>
<p><strong>Why are you studying finance:</strong> So I can make good financial decisions throughout my life.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Rishi2020.jpg", class: "portrait", alt: "Rishi Chhugani" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Rishi Chhugani</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
      </div>      
    </ul>
    <br />
    <br />
    <hr />
</div>
