<div class="PageAboutUs">
  <a name="values"></a> 
    <div class = "aboutHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1>About FINSOC</h1>
    </div>
    </div>
</div>
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Primary Goal</h2>
            <br/>
        </div>
        <span class="FinsocHighlight">To help Business Students with an interest in Banking and Financial Planning in achieving their career objectives within the Financial services industry.</span><br/><br/>
        <b><i>Utilising the following strategies:</i></b>
      <ul class="dot-points">
        <li>Equipping students with skills relevant to the industry</li>
        <li>Informing students about career opportunities</li>
        <li>Connecting students with employees</li>
        <li>Providing strategies and insights to build confidence and empower students to successfully navigate interviews and assessment centres</li>
      </ul>
      </div>
    </div>

    <div class="section2">
    <div class="section2">
      <div class="section-text container">
        <div class="subheading">
           <h2 class="h2Custom">Who are we?</h2>
            <br/>
        </div>
         The <span class="FinsocHighlight">Finance and Banking Society (FINSOC)</span> is a <b>prestigious constituent society</b> with branches operating in three universities: the University of New South Wales, the University of Sydney and the Australian National University.<br/><br/>
         With <span class="FinsocHighlight">3,000</span> student members, FINSOC is <b>one of the largest</b> student society networks in Australia dedicated to student education, enrichment and employability within the financial services sector.
      </div>
    </div>

    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Our Focus</h2>
            <br/>
        </div>
        FINSOC&#39s focus is within <span class="text-content-finsoc">Banking and Financial Planning</span>, providing students with a unique opportunity to gain a distinctive advantage in an ever growing competitive landscape.<br/><br/>
        We do this through a vast alumni base and an extensive list of industry contacts and sponsors. FINSOC is a progressive society with the ultimate goal of adding <b>exceptional value</b> to your employability and career progression.
      </div>
    </div>

    <a name="team"></a> 
    <div class = "teamHeader container">
        <br/>
        <div class="subheading">
           <h2 class="h2Custom">Our Team</h2>
            <br/>
        </div>
        </div>
    <ul id="og-grid" class="container og-grid container">
      <div class="row ppl-row">
      <li>
      <a data-largesrc='<%= image_path "photos/jacqueline.jpg" %>' data-title="Jacqueline Liu " data-subtitle="Co-President <br/></strong> <a href='mailto:secretary@unswfinsoc.org.au'> secretary@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jacquelineliu2020/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
        data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Accounting/Finance)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Maintain my cat&rsquo;s instagram </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The people &lt;3 </p>
<p><strong>Why are you studying finance:</strong> Relevant across diverse industries </p>
">
        <div class="hover-image">
          <%= image_tag "photos/jacqueline.jpg", class: "portrait", alt: "Jacqueline Liu" %>
          <div class="hover-text"><p>Click for bio</p></div>
        </div>
        <div class="ppl-title">
          <h3>Jacqueline Liu</h3><p>Co-President</p>
        </div>
        </a>
    </li>
    <li>
    <a data-largesrc='<%= image_path "photos/jeffrey.jpg" %>' data-title="Jeffrey Zhao" data-subtitle="Co-President <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'>academic@unswfinsoc.org.au</a><p><a href='https://www.linkedin.com/in/jeffrey-zhao-958638154/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
      data-description="<p><strong>Degree: </strong>Bachelor of Commerce/ Bachelor of Laws</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time: </strong>I enjoy hiking and planning for the countless holidays that have yet to be experienced!</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> I love how realistic and useful FINSOC is. It&rsquo;s the closest you can get to understand where your degree can get take you,</p>
<p><strong>Why are you studying finance:</strong> I would love to be a funds manager. To have people trust and rely my financial expertise would be so rewarding! I hope to learn and develop innovative business strategies and portfolio management skills throughout my finance degree that can build strong returns for my future clients. </p>
">
      <div class="hover-image">
        <%= image_tag "photos/jeffrey.jpg", class: "portrait", alt: "Jeffery Zhao" %>
        <div class="hover-text"><p>Click for bio</p></div>
      </div>
      <div class="ppl-title">
        <h3>Jeffrey Zhao</h3><p>Co-President</p>
      </div>
      </a>
  </li>
        
      </div>
        <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/may.jpg" %>' data-title="May Chen" data-subtitle="Vice President (Education)<br/></strong> <a href='mailto:education@unswfinsoc.org.au'> education@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/may-chen-643802179/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Law / Bachelor of Commerce (Finance)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I like travelling to new places and doing hikes to get me closer to nature. When I'm not doing that, I like to watch travel vlogs! I also do salsa on Sundays. </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> I love that FINSOC brings you closer to the real world of finance and enriches your knowledge and appreciation of finance. I also love working alongside such an amazing team!</p>
<p><strong>Why are you studying finance:</strong> I'm studying Finance because it is a broad discipline and has a broad application. Learning the theory and then understanding its practical applications to a range of different things is very self-rewarding and cool!</p>
">
            <div class="hover-image">
              <%= image_tag "photos/may.jpg", class: "portrait", alt: "May Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>May Chen</h3><p>Vice President<br>(Education)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/jess.jpg" %>' data-title="Jessica Chen" data-subtitle="Vice President (Internal)<br/></strong> <a href='mailto:internal@unswfinsoc.org.au'> internal@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jessica-chen-674865141/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Actuarial Studies</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong><strong>:</strong> Music, videos and cat</p>
<p><strong>Your Favourite Thing About FINSOC</strong><strong>:</strong> My favourite thing about FINSOC is the tight knit family I get to be a part of.</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Financial literacy is important as it underpins everything we do.</p>">
            <div class="hover-image">
              <%= image_tag "photos/jess.jpg", class: "portrait", alt: "Jessica Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jessica Chen</h3><p>Vice President<br>(Internal)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/female.jpg" %>' data-title="Joanna Ho" data-subtitle="Vice President (External)<br/></strong> <a href='mailto:internal@unswfinsoc.org.au'> internal@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/joannazhouho/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Law</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong><strong>:</strong> Photography and eat too much.</p>
<p><strong>Your Favourite Thing About FINSOC</strong><strong>:</strong> The FINSOC family! Everyone is incredibly supportive of your personal and professional goals.</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Given the broad spectrum of areas that finance touches on, studying this degree provides the opportunity to explore many different career paths and discover what interests you most.</p>">
            <div class="hover-image">
              <%= image_tag "photos/jess.jpg", class: "portrait", alt: "Joanna Ho" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jessica Chen</h3><p>Vice President<br>(External)</p>
            </div>
          </a>
        </li>
          <br/>
        <li>
          <a data-largesrc='<%= image_path "photos/female.jpg" %>' data-title="Christina Kim" data-subtitle="General Secretary<br/></strong> <a href='mailto:internal@unswfinsoc.org.au'> internal@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/christinamhkim/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Arts</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong><strong>:</strong> I do acting! (NIDA Actor's Studio for 2019)</p>
<p><strong>Your Favourite Thing About FINSOC</strong><strong>:</strong> My Favourite thing about FINSOC is the fact that our team members are extremely motivated and hardworking individuals, but are also easy-going and friendly- you can talk about anything with them!</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> I specifically chose Finance as the understanding of the Finance industry broadens the understanding of public policy, which is an area I am interested in. (Also related to my Arts degree- Politics and IR!)</p>">
            <div class="hover-image">
              <%= image_tag "photos/female.jpg", class: "portrait", alt: "Christina Kim" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Christina Kim</h3><p>General Secretary</p>
            </div>
          </a>
        </li>
        
      </div>
      <div class="subsection-title"><h3>External</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/michael.jpg" %>' data-title="Michael Kwon" data-subtitle="Sponsorship Director <br/></strong> <a href='mailto:sponsorship@unswfinsoc.org.au'> sponsorship@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/michael-kwon-44b114129/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
          data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Finance) / Bachelor of Actuarial Studies </p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: I love playing basketball and watching Netflix.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> My favourite thing about FINSOC is the people. We are a tight group of people that support each other develop both personally and professionally. From fun social dinners to weekly board meetings, FINSOC will enrich your university experience.</p>
<p><strong>Why are you studying finance: </strong>I'm studying finance because I believe helping corporations grow through financing and transactions is the best way to make an impact</p>
">
            <div class="hover-image">
              <%= image_tag "photos/michael.jpg", class: "portrait", alt: "Michael Kwon" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Michael Kwon</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/tiffany.jpg" %>' data-title="Tiffany Chan" data-subtitle="Co-Careers Director <br/></strong> <a href='mailto:careers@unswfinsoc.org.au'> careers@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tiffany-chan9/?trk=pub-pbmap&originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Finance) / Bachelor of Law</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Gym and Travel</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: People and the culture</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Diverse career opportunities and pathways.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/tiffany.jpg", class: "portrait", alt: "Tiffany Chan" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Tiffany Chan</h3><p>Co-Careers Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/abby.jpg" %>' data-title="Abby Cao" data-subtitle="Co-Careers Director <br/></strong> <a href='mailto:careers@unswfinsoc.org.au'> careers@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/abby-cao/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: I am obsessed with either wasting my time binging all the shows on Netflix or wasting all my money into aesthetic brunches, malatang and hanging out with my lovely humans.</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: Definitely the culture, the lovely fam and the support you get from them.</p>
<p><strong>Why are you studying finance</strong><strong>:</strong> Learning about the fundamental financial theory is pretty cool. Learning how it is applied into the real world is even cooler :) </p>
">
            <div class="hover-image">
              <%= image_tag "photos/abby.jpg", class: "portrait", alt: "Abby Cao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Abby Cao</h3><p>Co-Careers Director</p>
            </div>
          </a>
        </li>
        
        <br/>
        
          <li>
          <a data-largesrc='<%= image_path "photos/male.jpg" %>' data-title="Jake Green" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jake-green-80a914135/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong>Bachelor of Commerce (Accounting)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Studied at the University of Florida for 6 months, and managed to travel to Cuba.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The social atmosphere and how dedicated everyone is to each other.</p>
<p><strong>Why are you studying finance:</strong> Finance gives a solid and fundamental background on how a company operates and survives.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/male.jpg", class: "portrait", alt: "Jake Green" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jake Green</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
          <li>
          <a data-largesrc='<%= image_path "photos/dylan.jpg" %>' data-title="Dylan Mao" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/dylanmao/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Computer Science</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I eat food.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> Creating genuine friendships with people, and developing yourself both personally and professionally alongside your peers.</p>
<p><strong>Why are you studying finance:</strong> It's fun.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/dylan.jpg", class: "portrait", alt: "Dylan Mao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Alicia Chea</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h3>Education</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/glenn.jpg" %>' data-title="Glenn Schach" data-subtitle="Co-Education Director <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'> academic@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/glennschach/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Finance/Accounting)</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: 
Love to travel (yes, even in Asia), and playing sports.</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: The people, the roadtrips and Shancheng! Getting to be around like-minded people really drives me, especially in a field that I am really passionate about.</p>
<p><strong>Why are you studying finance</strong>: Finance is a discipline that no matter what industry you work in, is relevant, and if you understand the numbers side of things, companies will always be chasing you. </p>
">
            <div class="hover-image">
              <%= image_tag "photos/glenn.jpg", class: "portrait", alt: "Glenn Schach" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Glenn Schach</h3><p>Co-Education Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/male.jpg" %>' data-title="William Yao" data-subtitle="Co-Education Director <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'> academic@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/william-yao078/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Actuarial Studies</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time</strong>: I used to tap dance as a kid!</p>
<p><strong>Your Favourite Thing About FINSOC</strong>: You can't do it alone! The FINSOC team is so GENUINELY nice and helpful, and this was such a welcome surprise coming from competitive environments where it’s every man for himself. I have grown immensely thanks to the support of friends who are internally driven themselves, but are also willing to support each other. As Education Director this year, I can’t wait to share what I’ve learnt with the new generation of Finance students.</p>
<p><strong>Why are you studying finance</strong>: I enjoy studying finance because of the variety and applicability of what I learn. Each course equips me with not only knowledge of particular financial practice area, but the confidence that I can tackle the challenges of whichever career path I choose. I enjoy how this breadth serves as a natural complement to the depth of actuarial studies and actuarial work.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/male.jpg", class: "portrait", alt: "William Yao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Glenn Schach</h3><p>Co-Education Director</p>
            </div>
          </a>
        </li>
          
        <li>
          <a data-largesrc='<%= image_path "photos/merrynal.jpg" %>' data-title="Anthony Merrynal" data-subtitle="Publications Director <br/></strong> <a href='mailto:publications@unswfinsoc.org.au'> publications@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-merrynal-39324316b/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Love hitting the gym, taking my dog for runs and listening to kpop.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The people that make the society what it is. Also the 'wholesome' road trips are a highlight!</p>
<p><strong>Why are you studying finance:</strong> I've always been intrested in working overseas in financial markets and have a keen interest in Financial Modeling, M&A and international finance!
">
            <div class="hover-image">
              <%= image_tag "photos/merrynal.jpg", class: "portrait", alt: "Anthony Merrynal" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Anthony Merrynal</h3><p>Publications Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h3>Internal</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/samarth_resized.jpg" %>' data-title="Sam Tripathi" data-subtitle="IT Director <br/></strong> <a href='mailto:it@unswfinsoc.org.au'> it@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/samarthtripathi/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Economics / Bachelor of Advanced Math</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> Soccer <3</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The ability to grow and learn from some of the most proactive and intelligent people here at UNSW.</p>
<p><strong>Why are you studying finance:</strong> I love being able to keep up to date with everything that's happening around the world, from STEM to politics, as all factors can make a significant impact the markets. Furthermore, I love the fast paced volatility of the finance world. </p>
">
            <div class="hover-image">
              <%= image_tag "photos/samarth_resized.jpg", class: "portrait", alt: "Sam Tripathi" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sam Tripathi</h3><p>IT Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/victoria.jpg" %>' data-title="Victoria Xu" data-subtitle="Co-Marketing Director <br/></strong> <a href='mailto:marketing@unswfinsoc.org.au'> marketing@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/victoria-xu-56a999149/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Economics<br><strong>
            <p>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Movies and OzTag <br><strong></p>
            <p>Your Favourite Thing About FINSOC:</strong> The people.</p>
            <p><strong>Why are you studying finance:</strong> Because it’s the most useful major that will help me for the rest of my life</p>
            ">
            <div class="hover-image">
              <%= image_tag "photos/victoria.jpg", class: "portrait", alt: "Victoria Xu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Victoria Xu</h3><p>Co-Marketing Director</p>
            </div>
          </a>
        </li>
        
        <li>
          <a data-largesrc='<%= image_path "photos/jared.jpg" %>' data-title="Jared Pierre" data-subtitle="Co-Marketing Director <br/></strong> <a href='mailto:marketing@unswfinsoc.org.au'> marketing@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/jared-pierre-785ab1159/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Information Systems<br><strong>
            <p>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Fun Fact - I'm Chinese and Indian with a French last name! <br><strong></p>
            <p>Your Favourite Thing About FINSOC:</strong> Great environment to balance professional development in Finance Industry as well as the social aspects that make university.</p>
            <p><strong>Why are you studying finance:</strong> Another Fun Fact - No finance major for me, I do Marketing and Information Systems. I do however have a strong interest in technology and I see value in the way technology has impacted and disrupted the finance industry. I'm currently interested in potentially pursuing opportunities in FinTech in the future.</p>
            ">
            <div class="hover-image">
              <%= image_tag "photos/jared.jpg", class: "portrait", alt: "Jared Pierre" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jared Pierre</h3><p>Co-Marketing Director</p>
            </div>
          </a>
        </li>
        
          <br/>
        <li>
          <a data-largesrc='<%= image_path "photos/tony.jpg" %>' data-title="Tony Chen" data-subtitle="Co-HR Director <br/></strong> <a href='mailto:hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tony-chen-854217163/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I love watching MKR and playing ping pong.</p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The internally driven members and the familial culture.</p>
<p><strong>Why are you studying finance:</strong> Because my mum told me to and I really enjoy it.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/tony.jpg", class: "portrait", alt: "Tony Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Tony Chen</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
          <li>
          <a data-largesrc='<%= image_path "photos/female.jpg" %>' data-title="Sophia Do" data-subtitle="Co-HR Director <br/></strong> <a href='mailto:hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/sophia-do-166644143/?originalSubdomain=au' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong>  Bachelor of Commerce (Finance)/Laws</p>
<p><strong>Interesting Fact/Something Fun/What do you do in your spare time:</strong> I like eating, travelling and getting 8 hours of sleep every night.  </p>
<p><strong>Your Favourite Thing About FINSOC:</strong> The opportunity to grow both personally and professionally.</p>
<p><strong>Why are you studying finance:</strong> So I can make good financial decisions throughout my life.</p>
">
            <div class="hover-image">
              <%= image_tag "photos/female.jpg", class: "portrait", alt: "Sophia Do" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sophia Do</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
      </div>      
    </ul>
    <br />
    <br />
    <hr />
</div>
