<div class="PageAboutUs">
  <a name="values"></a> 
    <div class = "aboutHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1>About FINSOC</h1>
    </div>
    </div>
</div>
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Primary Goal</h2>
            <br/>
        </div>
        <span class="FinsocHighlight">To help Business Students with an interest in Banking and Financial Planning in achieving their career objectives within the Financial services industry.</span><br/><br/>
        <b><i>Utilising the following strategies:</i></b>
      <ul class="dot-points">
        <li>Equipping students with skills relevant to the industry</li>
        <li>Informing students about career opportunities</li>
        <li>Connecting students with employees</li>
        <li>Providing strategies and insights to build confidence and empower students to successfully navigate interviews and assessment centres</li>
      </ul>
      </div>
    </div>

    <div class="section2">
    <div class="section2">
      <div class="section-text container">
        <div class="subheading">
           <h2 class="h2Custom">Who are we?</h2>
            <br/>
        </div>
         The <span class="FinsocHighlight">Finance and Banking Society (FINSOC)</span> is a <b>prestigious constituent society</b> with branches operating in three universities: the University of New South Wales, the University of Sydney and the Australian National University.<br/><br/>
         With <span class="FinsocHighlight">3,000</span> student members, FINSOC is <b>one of the largest</b> student society networks in Australia dedicated to student education, enrichment and employability within the financial services sector.
      </div>
    </div>

    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Our Focus</h2>
            <br/>
        </div>
        FINSOC&#39s focus is within <span class="text-content-finsoc">Banking and Financial Planning</span>, providing students with a unique opportunity to gain a distinctive advantage in an ever growing competitive landscape.<br/><br/>
        We do this through a vast alumni base and an extensive list of industry contacts and sponsors. FINSOC is a progressive society with the ultimate goal of adding <b>exceptional value</b> to your employability and career progression.
      </div>
    </div>

    <a name="team"></a> 
    <div class = "teamHeader container">
        <br/>
        <div class="subheading">
           <h2 class="h2Custom">Our Team</h2>
            <br/>
        </div>
        </div>
    <ul id="og-grid" class="container og-grid container">
      <div class="row ppl-row">
      <li>
      <a data-largesrc='<%= image_path "photos/Tiffany2020.jpg" %>' data-title="Tiffany Chan " data-subtitle="Co-President <br/></strong> <a href='mailto:president@unswfinsoc.org.au'> president@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tiffany-chan9/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
        data-description="<p><strong>Degree:</strong> Bachelor of Commerce/ Bachelor of Law</p>
<p><strong>Stage in Uni: </strong> 4th year</p>
<p><strong>What drives you: </strong> Personal development, new opportunities & experiences and making the people that matter proud</p>
<p><strong>What is a cool trick you can do: </strong> I can ice skate backwards </p>
<p><strong>Hobbies:</strong> Gym, travelling, finding new brunch spots. </p> 
">
        <div class="hover-image">
          <%= image_tag "photos/Tiffany2020.jpg", class: "portrait", alt: "Tiffany Chan" %>
          <div class="hover-text"><p>Click for bio</p></div>
        </div>
        <div class="ppl-title">
          <h3>Tiffany Chan</h3><p>Co-President</p>
        </div>
        </a>
    </li>
    <li>
    <a data-largesrc='<%= image_path "photos/TonyC2020.jpg" %>' data-title="Tony Chen" data-subtitle="Co-President <br/></strong> <a href='mailto:president@unswfinsoc.org.au'>president@unswfinsoc.org.au</a><p><a href='https://www.linkedin.com/in/tony-chen-854217163/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
      data-description="<p><strong>Degree: </strong>Bachelor of Commerce</p>
<p><strong>Stage in Uni: </strong> 4th year</p>
<p><strong>What drives you: </strong> The people around me</p>
<p><strong>What is a cool trick you can do: </strong> I can cook anything with an airfryer </p>
<p><strong>Hobbies:</strong> Basketball,guitar and gym </p>                     
">
      <div class="hover-image">
        <%= image_tag "photos/TonyC2020.jpg", class: "portrait", alt: "Tony Chen" %>
        <div class="hover-text"><p>Click for bio</p></div>
      </div>
      <div class="ppl-title">
        <h3>Tony Chen</h3><p>Co-President</p>
      </div>
      </a>
  </li>
        
      </div>
        <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Michael2020.jpg" %>' data-title="Michael Kwon" data-subtitle="Vice President (Activities)<br/></strong> <a href='mailto:activities@unswfinsoc.org.au'> activities@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/michael-kwon-44b114129/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Acturial Studies </p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> Self development and opportunities to make meaningful impact</p>
<p><strong>What is a cool trick you can do: </strong> Cartwheels  </p>
<p><strong>Hobbies:</strong> Basketball,guitar and gym </p> 
">
            <div class="hover-image">
              <%= image_tag "photos/Michael2020.jpg", class: "portrait", alt: "Michael Kwon" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Michael Kwon</h3><p>Vice President<br>(Activities)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Abby2020.jpg" %>' data-title="Abby Cao" data-subtitle="Vice President (External)<br/></strong> <a href='mailto:external@unswfinsoc.org.au'> external@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/abby-cao/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Stage in Uni: </strong> 4th year</p>
<p><strong>What drives you: </strong> That the world is my oyster and I am capable of achieving anything in this world if I put 110% into it </p>
<p><strong>What is a cool trick you can do: </strong> I can do the cup song really quick  </p>
<p><strong>Hobbies:</strong> Dancing, cooking, swimming, netflix, hitting up the kaes </p> 
                              ">
            <div class="hover-image">
              <%= image_tag "photos/Abby2020.jpg", class: "portrait", alt: "Abby Cao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Abby Cao</h3><p>Vice President<br>(External)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Merrynal2020.jpg" %>' data-title="Merrynal Anthony" data-subtitle="Vice President (Operations)<br/></strong> <a href='mailto:operations@unswfinsoc.org.au'> operations@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-merrynal-39324316b' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> The need to be one step ahead everyone else, especially within a fast paced setting like the coporate world where change in inevitable. Personally I'm also motivated by friends, family and my dog! </p>
<p><strong>What is a cool trick you can do: </strong> I'm double jointed on both shoulders so can stretch my arms behind my back in a full 180 degree motion  </p>
<p><strong>Hobbies:</strong> Hitting the gym, buying hype clothing, binging youtube/anime/kdrama and attending the ocassional festival  </p>
                              ">
            <div class="hover-image">
              <%= image_tag "photos/Merrynal2020.jpg", class: "portrait", alt: "Merrynal Anthony" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Merrynal Anthony</h3><p>Vice President<br>(Operations)</p>
            </div>
          </a>
        </li>
          <br/>
        <li>
          <a data-largesrc='<%= image_path "photos/William2020.jpg" %>' data-title="William Yao" data-subtitle="General Secretary<br/></strong> <a href='mailto:secretary@unswfinsoc.org.au'> secretary@unswfinsoc.org.au </a><p><a href='www.linkedin.com/in/william-yao078/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong><strong>:</strong> Bachelor of Commerce / Bachelor of Acturial Studies</p>
<p><strong>Stage in Uni: </strong> 4th year</p>
<p><strong>What drives you: </strong> I've had a great time at uni thanks to FINSOC and I'll take any opportunity to do the same for our constituents </p>
<p><strong>What is a cool trick you can do: </strong> I can pull of a sick cartwheel, but you might not believe it just from looking at me  </p>
<p><strong>Hobbies:</strong> Games (most platforms), Netflix  </p>
                              ">
            <div class="hover-image">
              <%= image_tag "photos/William2020.jpg", class: "portrait", alt: "William Yao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>William Yao</h3><p>General Secretary</p>
            </div>
          </a>
        </li>
        
      </div>
      <div class="subsection-title"><h3>Activities</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Kelly2020.jpg" %>' data-title="Kelly Lai" data-subtitle="Co-HR Director <br/></strong> <a href='mailto:hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/kelly-lai-394357191/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
          data-description="<p><strong>Degree:</strong> Bachelor of Economics (Economics/Finance) </p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> New experiences, different opportunities, personal growth and being able to learn from those around me</p>
<p><strong>What is a cool trick you can do: </strong> Can cartwheel </p>
<p><strong>Hobbies:</strong> Travelling, spending time with family and friends </p>  
">
            <div class="hover-image">
              <%= image_tag "photos/Kelly2020.jpg", class: "portrait", alt: "Kelly Lai" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Kelly Lai</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Raymond2020.jpg" %>' data-title="Raymond Shen" data-subtitle="Co-HR Director <br/></strong> <a href='hr@unswfinsoc.org.au'> hr@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/raymond-s/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Finance) / Bachelor of Acturial Studies</p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> Learning new things, experiences that put me out of my comfort zone</p>
<p><strong>What is a cool trick you can do: </strong> I can fit 14 grapes in my mouth </p>
<p><strong>Hobbies:</strong> Swimming, Cycling, Reading, Movies </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Raymond2020.jpg", class: "portrait", alt: "Raymond Shen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Raymond Shen</h3><p>Co-HR Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Ming2020.jpg" %>' data-title="Ming Qin" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/ming-qin-16a329161/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Economics</p>
<p><strong>Stage in Uni: </strong> 4th year</p>
<p><strong>What drives you: </strong> The desire to repay those who have helped me</p>
<p><strong>What is a cool trick you can do: </strong> I'm double jointed in my hand so my fingers are a lot more flexible than other people's </p>
<p><strong>Hobbies:</strong> Making music, Gym, League of Legends </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Ming2020.jpg", class: "portrait", alt: "Ming Qin" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Ming Qin</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
        
        <br/>
        
          <li>
          <a data-largesrc='<%= image_path "photos/Audrey2020.jpg" %>' data-title="Audrey Yeo" data-subtitle="Co-Events Director <br/></strong> <a href='mailto:events@unswfinsoc.org.au'> events@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/audrey-yeo/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Finance)/Bachelor of Science (Physiology)</p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> Being able to use my knowledge learnt in the classroom to help others and create meaningful experiences and friendships!</p>
<p><strong>What is a cool trick you can do: </strong> Finding (sometimes questionable) ways to save money </p>
<p><strong>Hobbies:</strong> Cooking, (trying to) propagating plants, online shopping (<3 the iconic), You level online stalking...</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Audrey2020.jpg", class: "portrait", alt: "Audrey Yeo" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Audrey Yeo</h3><p>Co-Events Director</p>
            </div>
          </a>
        </li>
          
      </div>
      <div class="subsection-title"><h3>Externals</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Nahum2020.jpg" %>' data-title="Nahum Adeel" data-subtitle="Co-Education Director <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'> academic@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/nahum-adeel-1bb783195/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce/Bachelor of Acturial Studies</p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> My passion to achieve excellence across all activities that I'm involved in and my desire to make a meaningful impact in the lives of my fellow students and the broader community</p>
<p><strong>What is a cool trick you can do: </strong> I can do a cartwheel and sound like a didgeridoo using my mouth and hands </p>
<p><strong>Hobbies:</strong> Guitar and Basketball</p>

                              ">
            <div class="hover-image">
              <%= image_tag "photos/Nahum2020.jpg", class: "portrait", alt: "Nahum Adeel" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Nahum Adeel</h3><p>Co-Education Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Coco.jpg" %>' data-title="Coco Xu" data-subtitle="Co-Education Director <br/></strong> <a href='mailto:academic@unswfinsoc.org.au'> academic@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/cocowqxu/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Acturial Studies (Co-op)</p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> Curiosity</p>
<p><strong>What is a cool trick you can do: </strong> On a good day I can reach the top shelf</p>
<p><strong>Hobbies:</strong>...</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Coco.jpg", class: "portrait", alt: "Coco Xu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Coco Xu</h3><p>Co-Education Director</p>
            </div>
          </a>
        </li>
          
        <li>
          <a data-largesrc='<%= image_path "photos/Matt2020.jpg" %>' data-title="Mathew Sulistyo" data-subtitle="Co-Careers Director <br/></strong> <a href='mailto:careers@unswfinsoc.org.au'> careers@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/matthew-sulistyo-5991a2167/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Acturial Studies </p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> I'm motivated by opportunities where I can learn new things and be outside my comfort zone, which is why I applied for careers director! I love facing a challenge and the feeling of accomplishment and reward that comes with it at the end</p>
<p><strong>What is a cool trick you can do: </strong> I can stock shelves quickly. (Used to work at woolies) </p>
<p><strong>Hobbies:</strong> Playing video games, reading the AFR and playing pool at city heroes</p>
">
            <div class="hover-image">
              <%= image_tag "photos/Matt2020.jpg", class: "portrait", alt: "Mathew Sulistyo" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Mathew Sulistyo</h3><p>Co-Careers Director</p>
            </div>
          </a>
        </li>
      
        <br/>
        
        <li>
          <a data-largesrc='<%= image_path "photos/Emily2020.jpg" %>' data-title="Emily Weng" data-subtitle="Co-Careers Director <br/></strong> <a href='mailto:careers@unswfinsoc.org.au'> careers@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/emily-weng/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Acturial Studies </p>
<p><strong>Stage in Uni: </strong> 2nd year</p>
<p><strong>What drives you: </strong> My optimistic, easy-going and bubbly personality motivates me to take on challenges and persevere during difficulties</p>
<p><strong>What is a cool trick you can do: </strong> I can daydream for a longtime without getting bored </p>
<p><strong>Hobbies:</strong> Makeup, photography, rock-climbing </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Emily2020.jpg", class: "portrait", alt: "Emily Weng" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Emily Weng</h3><p>Co-Careers Director</p>
            </div>
          </a>
        </li>
        
      </div>
      <div class="subsection-title"><h3>Operations</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Anthony2020.jpg" %>' data-title="Anthony Pham" data-subtitle="Co-IT Director <br/></strong> <a href='mailto:it@unswfinsoc.org.au'> it@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-pham-8135b8197/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce / Bachelor of Information Systems </p>
<p><strong>Stage in Uni: </strong> 4th year</p>
<p><strong>What drives you: </strong> Self development and giving back to those important </p>
<p><strong>What is a cool trick you can do: </strong> Fall asleep every single time on public transport </p>
<p><strong>Hobbies:</strong> Gym, basketball, League of Legends </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Anthony2020.jpg", class: "portrait", alt: "Anthony Pham" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Anthony Pham</h3><p>Co-IT Director</p>
            </div>
          </a>
        </li>
        
        <li>
          <a data-largesrc='<%= image_path "photos/Tony2020.jpg" %>' data-title="Tony Mao" data-subtitle="Co-IT Director <br/></strong> <a href='mailto:it@unswfinsoc.org.au'> it@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/tony-mao-cse/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Business Analytics) / Bachelor of Computer Science </p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> My drive comes from my curiosity to learn and experience new things. I believe that our time on this earth is a gift and we should live every day to the fullest </p>
<p><strong>What is a cool trick you can do: </strong> I can whip out a personal website in 30mins </p>
<p><strong>Hobbies:</strong> Hiking, weightlifting, Hip Hop, Choir, food adventures, guitar </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Tony2020.jpg", class: "portrait", alt: "Tony Mao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Tony Mao</h3><p>Co-IT Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/Calvin2020.jpg" %>' data-title="Calvin Fong" data-subtitle="Co-Marketing Director <br/></strong> <a href='mailto:marketing@unswfinsoc.org.au'> marketing@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/calvin-fong-862045146/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce / Bachelor of Economics<br><strong>
            <p>Interesting Fact/Something Fun/What do you do in your spare time</strong>: Movies and OzTag <br><strong></p>
            <p>Your Favourite Thing About FINSOC:</strong> The people.</p>
            <p><strong>Why are you studying finance:</strong> Because it’s the most useful major that will help me for the rest of my life</p>
            ">
            <div class="hover-image">
              <%= image_tag "photos/Calvin2020.jpg", class: "portrait", alt: "Calvin Fong" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Calvin Fong</h3><p>Co-Marketing Director</p>
            </div>
          </a>
        </li>
       
        <br/>
        
        <li>
          <a data-largesrc='<%= image_path "photos/Nick2020.jpg" %>' data-title="Nick Joeng" data-subtitle="Co-Marketing Director <br/></strong> <a href='mailto:marketing@unswfinsoc.org.au'> marketing@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/nick-joeng/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree</strong>: Bachelor of Commerce (Finance) / Bachelor of Engineering (Civil)(Honours)<br><strong>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> Seeing the benefits of my actions on the lives of others </p>
<p><strong>What is a cool trick you can do: </strong> Eat a cheeseburger in one bite </p>
<p><strong>Hobbies:</strong> Guitar, basketball, cars </p>
            ">
            <div class="hover-image">
              <%= image_tag "photos/Nick2020.jpg", class: "portrait", alt: "Mick Joeng" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Nick Joeng</h3><p>Co-Marketing Director</p>
            </div>
          </a>
        </li>
        
          
        <li>
          <a data-largesrc='<%= image_path "photos/Larissa2020.jpg" %>' data-title="Larissa Wang" data-subtitle="Co-Publications Director <br/></strong> <a href='mailto:publications@unswfinsoc.org.au'> publications@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/larissa-wang-865807152/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce/Bachelor of Engineering (Honours)</p>
<p><strong>Stage in Uni: </strong> 5th year</p>
<p><strong>What drives you: </strong> My parents. They migrated to a foreign country in their early 20s, with no proper understanding of the language and culture, but was able to conform to the society and establish themselves. This gives me the drive to pursue my goals and dreams </p>
<p><strong>What is a cool trick you can do: </strong> I can pop bubble gum really REALLY loud  </p>
<p><strong>Hobbies:</strong> Singing really off key  </p>

                              ">
            <div class="hover-image">
              <%= image_tag "photos/Larissa2020.jpg", class: "portrait", alt: "Larissa Wang" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Larissa Wang</h3><p>Co-Publications Director</p>
            </div>
          </a>
        </li>
          <li>
          <a data-largesrc='<%= image_path "photos/Rishi2020.jpg" %>' data-title="Rishi Chhugani" data-subtitle="Co-Publications Director <br/></strong> <a href='mailto:publications@unswfinsoc.org.au'> publications@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/rishi-chhugani-397034135/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong>  Bachelor of Commerce (Finance)/ Bachelor of Law</p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> The pursuit of a life of happiness and success </p>
<p><strong>What is a cool trick you can do: </strong> I can handle spicy food really well </p>
<p><strong>Hobbies:</strong> Chilling with friends,Photography/videography, Watching movies </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Rishi2020.jpg", class: "portrait", alt: "Rishi Chhugani" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Rishi Chhugani</h3><p>Co-Publications Director</p>
            </div>
          </a>
        </li>
      </div> 
      
      <div class="subsection-title"><h3>Sponsorship</h3><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/Rebecca2020.jpg" %>' data-title="Rebecca Rosenberg" data-subtitle="Co-Sponsorship Director <br/></strong> <a href='mailto:sponsorships@unswfinsoc.org.au'> sponsorships@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-pham-8135b8197/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce (Finance/Accounting) </p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong> Working within a passionate and dedicated team who share a common vision </p>
<p><strong>What is a cool trick you can do: </strong> I can sleep almost anywhere </p>
<p><strong>Hobbies:</strong>  </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Rebecca2020.jpg", class: "portrait", alt: "Rebecca Rosenberg" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Rebecca Rosenberg</h3><p>Co-Sponsorship Director</p>
            </div>
          </a>
        </li>
        
         <li>
          <a data-largesrc='<%= image_path "photos/Yumin2020.jpg" %>' data-title="Yumin Sun" data-subtitle="Co-Sponsorship Director <br/></strong> <a href='mailto:sponsorships@unswfinsoc.org.au'> sponsorships@unswfinsoc.org.au </a><p><a href='https://www.linkedin.com/in/anthony-pham-8135b8197/' target='_blank'><i class='fa fa-linkedin-square fa-3 icon' aria-hidden='true'></i></a></p>" 
            data-description="<p><strong>Degree:</strong> Bachelor of Commerce  </p>
<p><strong>Stage in Uni: </strong> 3rd year</p>
<p><strong>What drives you: </strong>  </p>
<p><strong>What is a cool trick you can do: </strong>  </p>
<p><strong>Hobbies:</strong>  </p>
">
            <div class="hover-image">
              <%= image_tag "photos/Yumin2020.jpg", class: "portrait", alt: "Yumin Sun" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Yumin Sun</h3><p>Co-Sponsorship Director</p>
            </div>
          </a>
        </li>
    </ul>
    <br />
    <br />
    <hr />
</div>
