<div class="PageCourseGuide container">
    <div class="title">
      <h1>Course Guide</h1>
    </div>
    <div class="Card">
      <div class="Card-text">
        <p class="PageCourseGuide-introduction">
          We are extremely proud to present UNSW Finance and Banking Society’s Course Guide for 2018.
        <p>
        <p>
          The FINSOC Course Guide will provide you with a comprehensive look into the structure, course topics, industry connection, student reviews, and tips into every finance core subject and the 17 different elective subjects available within the finance major at UNSW. 
        </p>
        <p>
          Our goal through this extensive guide is to provide valuable foresight for you regarding the FINS subjects and accordingly, enhance your decision making process regarding subject selection and fulfillment of relevant skills and competencies simultaneous with your favoured industry. 
        </p>
          <hr/>
        <small>
          ** NOTE: Pursuant to UNSW FINSOC ‘s reasonable processes to ensure the validity and accuracy of our guide, the courses reviews and relevant tips from UNSW students who have previously taken the courses, must not be relied on exclusively. Furthermore, the guide should be seen as a complementary resource to official documents from the University of New South Wales Business School, by providing insider and past students’ experiences and perspectives. UNSW FINSOC reserves the right to update the course guide pursuant to the learning of new information from changes in teaching staff, course structure and semesters. 
        </small>
      </div>
    </div>
    <p>
    </p>

  <div class="Card">
    <div class="Card-text">
      <div class="title">
        <h2>Compulsory Finance Courses</h2>
      </div>
      <div class="panel-group" id="accordionCompulsory" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="compulsoryHead">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#financeCompulsory" aria-expanded="true" aria-controls="financeCompulsory">
              <p class="CoursePanel-title">
                FINS1612 Capital Markets and Institutions
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="financeCompulsory" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="compulsoryHead">
            <div class="panel-body">
              <p>
              This is the first major core subject required for a finance major at
              UNSW. It provides an overview of major financial markets, basics of
              financial instruments as well as an analysis of the roles and functions of
              the major financial institutions. Students will learn the theoretical
              fundamental background knowledge of the financial industry that is
              instrumental in future finance electives.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1GrjHtceBB2vYAQZghmLkMYk88Kx1amOd/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>	
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins1613head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#fins1613" aria-expanded="true" aria-controls="fins1613">
              <p class="CoursePanel-title">
                FINS1613 Business Finance
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins1613" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins1613head">
            <div class="panel-body">
              <p>
              One of the compulsory level 1 courses required for a finance major at
              UNSW. It forms the foundation of quantitative areas in finance,
              introducing students to important topics such as financial mathematics,
              investment valuations, capital budgeting and costs of capital. The
              fundamentals learnt within this course are expanded upon in higher
              level courses of the finance major.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1Tz_AFHewbHpZj1EckdGs8ulcYv9YupvB/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins2624head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#fins2624" aria-expanded="true" aria-controls="fins2624">
              <p class="CoursePanel-title">
                FINS2624 Portfolio Management
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins2624" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2624head">
            <div class="panel-body">
              <p>
              This core finance subject introduces students into investment theories, including application of
              the Markowitz portfolio theory, SIM and Factor models and CAPM. Accordingly, students will
              learn to design and manage portfolios, price bonds and stock options and evaluate investment
              performance. The skills gained from this course are fundamental in the industries of
              investment management and wealth management.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1fc3Po9OQYM-qc8hYHfA7CZ3Y240Pf4qg/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3616head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionCompulsory" href="#fins3616" aria-expanded="true" aria-controls="fins3616">
              <p class="CoursePanel-title">
                FINS3616 International Business Finance
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3616" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3616head">
            <div class="panel-body">
              <p>
              Students generally take this course during the second or third year of the BCom programme. The
              course covers the basic theory and practical knowledge that is required to manage financial
              functions of firms operating in many countries. There is a strong emphasis on identifying and
              managing risk, more specifically, exchange rate movements and government policies. The course
              includes topics such as international diversification, cost of capital for multinational corporations,
              the role of multinational banks, short-term financing and international equity markets.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1AMibdnlE8di1eH9_kDyBTVkFIMEkMYFZ/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Card">
    <div class="Card-text">
      <div class="title">
        <h2>Finance Sub Branches</h2>
      </div>
      <div class="panel-group" id="accordionFinsSub" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins1613head_2">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins1613_2" aria-expanded="true" aria-controls="fins1613_2">
              <p class="CoursePanel-title">
                FINS1613 Business Finance
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins1613_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins1613head_2">
            <div class="panel-body">
              <p>This Course is a Finance Core.</p>
              <p>
              One of the compulsory level 1 courses required for a finance major at
              UNSW. It forms the foundation of quantitative areas in finance,
              introducing students to important topics such as financial mathematics,
              investment valuations, capital budgeting and costs of capital. The
              fundamentals learnt within this course are expanded upon in higher
              level courses of the finance major.
              </p>
             <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1Tz_AFHewbHpZj1EckdGs8ulcYv9YupvB/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3625head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins3625" aria-expanded="true" aria-controls="fins3625">
              <p class="CoursePanel-title">
                  FINS3625 Applied Corporate Finance
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3625" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3625head">
            <div class="panel-body">
              <p>
              This subject forms part of the corporate finance sub branch and focuses on financial
              decision making. This course provides a theoretical understanding and evaluation of
              financial transactions in a corporate finance environment, including undertaking case
              studies and researching current financial issues. Furthermore, the topics learnt by
              students include equity and debt financing, capital raising, discounted cash flows, capital
              budgeting and structure, mergers and acquisitions and excel modelling. The knowledge
              gained from this course is relevant to the investment banking industry.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1EMXY1xGrOv0cqq28qW2EyptL_4TQb9wR/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3641head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins3641" aria-expanded="true" aria-controls="fins3641">
              <p class="CoursePanel-title">
                FINS3641 Security Analysis and Valuation
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3641" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3641head">
            <div class="panel-body">
              <p>
              This subject forms part of the corporate finance sub branch and provides students
              with theoretical and practical knowledge in equity valuation and analysis.
              Accordingly, students learn the different techniques and models in relation to DCF
              valuation , trade recommendation reports and financial statements. The knowledge
              and practical abilities gained through this course, relate to the industries of
              brokerage, fund management, mergers and acquisitions and investment banking.
              </p> 
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1PEYgcf1KcPHmGhhnHP-0n8j4gk4Iny3s/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3623head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFinsSub" href="#fins3623" aria-expanded="true" aria-controls="fins3623">
              <p class="CoursePanel-title">
                  FINS3623 Venture Capital
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3623" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3623head">
            <div class="panel-body">
              <p>
              A third level elective finance course that introduces the characteristics
              venture capital and private equity investments, as well as the financing of
              entrepreneurial firms and public to private transactions. This course is highly
              recommended for students with an interest in the functioning of small to
              medium enterprises, exploring theoretical and practical issues/decisions that
              they face.
              </p> 
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1xwZXkStUqwKQDM_HwphZmngM9-DpbfpO/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Card">
    <div class="Card-text">
      <div class="title">
        <h2>Funds Management</h2>
      </div>
      <div class="panel-group" id="accordionFundsMgmt" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins2624head_2">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFundsMgmt" href="#fins2624_2" aria-expanded="true" aria-controls="fins2624_2">
              <p class="CoursePanel-title">
                FINS2624 Portfolio Management
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins2624_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2624head_2">
            <div class="panel-body">
              <p>This Course is a Finance Core</p>
              <p>
              This core finance subject introduces students into investment theories, including application of
              the Markowitz portfolio theory, SIM and Factor models and CAPM. Accordingly, students will
              learn to design and manage portfolios, price bonds and stock options and evaluate investment
              performance. The skills gained from this course are fundamental in the industries of
              investment management and wealth management.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1taOh1AezSLDtEMgN830uH-bn8EXpOVWN/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>


            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3640head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionFundsMgmt" href="#fins3640" aria-expanded="true" aria-controls="fins3640">
              <p class="CoursePanel-title">
               FINS3640 Investment Management Modelling
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3640" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3640head">
            <div class="panel-body">
              <p>
              A third level elective finance course with a main focus on financial securities
              portfolio construction and management. It is highly recommended for
              students interested in financial modelling, investment management, banking
              and securities trading. As such, topics revolve around security analysis,
              alternative investments (and their risks and rewards) and a major focus on
              alternative hedge fund strategies. 
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1taOh1AezSLDtEMgN830uH-bn8EXpOVWN/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="Card">
    <div class="Card-text">
      <div class="title">
        <h2>Banking</h2>
      </div>
      <div class="panel-group" id="accordionBanking" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3630head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionBanking" href="#fins3630" aria-expanded="true" aria-controls="fins3630">
              <p class="CoursePanel-title">
                  FINS3630 Bank Financial Management
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3630" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3630head">
            <div class="panel-body">
              <p>
              The unifying theme in this course is the application of modern finance theory to the
              financial decision making and management of financial institutions of commercial banks.
              The subject of decision-making in financial institutions is approached from a risk
              perspective. The course covers the major decision areas for financial institution
              management within the framework of a regulatory and "corporate responsible"
              environment. The main topics covered are various financial risks and their management
              including interest rate risk, credit risk, liquidity risk, foreign exchange risk and market risk
              within an international context.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1_ZmezDySauFO-qgnokLxYu_iysgGzAAT/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3650head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionBanking" href="#fins3650" aria-expanded="true" aria-controls="fins3650">
              <p class="CoursePanel-title">
               FINS3650  International Banking
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3650" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3650head">
            <div class="panel-body">
              <p>
              The main aim of this course is to give students an understanding and current knowledge of
              international banking. It allows students to understand the operating environments of international
              banking institutions, more specifically, how to best manage the environment to create sustained
              value for shareholders. Basel Capital Accords provide the regulatory framework for banks that are
              active in the international markets and reference is made to this throughout the course. Topics
              covered in this course include examining the role of international banks in international investment
              and trade, project financing and managing cross border risks.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1EvTbhkhnMaJVyO5ZozO0cyPPvp0gOg13/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="Card">
    <div class="Card-text">
      <div class="title">
        <h2>Derivatives</h2>
      </div>
      <div class="panel-group" id="accordionDerivatives" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3635head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionDerivatives" href="#fins3635" aria-expanded="true" aria-controls="fins3635">
              <p class="CoursePanel-title">
                 FINS3635 Options, Futures and Risk Management
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3635" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3635head">
            <div class="panel-body">
              <p>
              This subject forms part of the derivatives sub branch and acts as an introduction into
              derivative markets. This course is designed with a fundamental focus on the major
              areas of exchange traded options, futures contracts and fundamental pricing
              principles and hedging techniques in derivative markets. Furthermore, through
              undertaking this course students will learn the following topics of contract valuations
              and payoffs, arbitrage opportunities, risk management strategies, currency swap
              valuations and various methods for evaluating options.
              </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1-aiOYuZOToiNbBk6VaEIlbvgYjbRWWwd/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3636head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionDerivatives" href="#fins3636" aria-expanded="true" aria-controls="fins3636">
              <p class="CoursePanel-title">
                 FINS3636 Interest Rate Risk Management
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3636" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3636head">
            <div class="panel-body">
              <p>
              This course covers interest rate risk and risk management techniques. There is an
              emphasis on problem solving, yet the course covers theory as well as practical applications.
              The course introduces students to many interest rate products and identifies both how to
              price them and when to use them in hedging strategies. The topics covered in the course
              include the interaction between interest rate risk and credit risk, duration measures, term
              structure dynamics and numerical and analytical techniques.
						  </p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1-_0YSsvnnGYYMMDuRe_CP2F1HEkH6Ose/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3626head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionDerivatives" href="#fins3626" aria-expanded="true" aria-controls="fins3626">
              <p class="CoursePanel-title">
                  FINS3626 International Corporate Governance
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3626" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3626head">
            <div class="panel-body">
              <p>
              This course takes a broad view of on the operations and establishment of
              organisations. It is concerned with ‘how corporations are managed’. It
              emphasises regulatory and formal arrangements such as auditors and the
              appointment of directors. The course explores literature on corporate
              governance in conjunction with current governance arrangements for firms.
              Students will also analyse how participants in the stock market value firms
              with different corporate governance structures.
  						</p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1sCGcj3OJZRx0GPposhJd55VdV7T3tkBb/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Card">
    <div class="Card-text">
      <div class="title">
        <h2>Wealth Management</h2>
      </div>
      <div class="panel-group" id="accordionWealthMgmt" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="FINS2643head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionWealthMgmt" href="#FINS2643" aria-expanded="true" aria-controls="FINS2643">
              <p class="CoursePanel-title">
                  FINS2643 Wealth Management
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="FINS2643" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FINS2643head">
            <div class="panel-body">
              
              <p>
              A second level finance subject that delves into the investment and financial
              issues arising from personal wealth management activities. This course
              examines deeply into how to set financial plans, portfolio management,
              investment strategies, insurance, superannuation, tax and estate planning. It
              allows the students to understand how to make decisions for superannuation
              specifically as a trustee as well as looking into the regulatory framework.
							</p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/13Wb3eg4AwWx9CYdOd0Xg94DUuctDMXMc/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3637head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionWealthMgmt" href="#fins3637" aria-expanded="true" aria-controls="fins3637">
              <p class="CoursePanel-title">
                  FINS3637 Wealth Management Advice
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3637" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3637head">
            <div class="panel-body">
              
              <p>
              This course provides students with the key financial planning knowledge and skills. From a financial
              planning practice perspective, we address the important compliance and legal issues and skills
              required to practice as a financial planner. This entails having a clear understanding of the client's
              situation, conducting needs analysis, identifying goals and objectives, understanding research,
              formulating appropriate financial planning strategies, choosing appropriate tools to execute the
              formulated strategy, preparing a compliant Statement of Advice (SoA), implementation of the
              advice and providing ongoing service and reviews to the client. The course is one of the key
              requirements for attaining ASIC RG146 Compliance.
							</p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/open?id=1-uWBjw8UgpqhAZFGQrdqFhIfl8rLHg5Z", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="Card">
    <div class="Card-text">
      <div class="title">
        <h2>Other</h2>
      </div>
      <div class="panel-group" id="accordionOther" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins2622head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins2622" aria-expanded="true" aria-controls="fins2622">
              <p class="CoursePanel-title">
                  FINS2622 Asia-Pacific Capital Markets
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins2622" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins2622head">
            <div class="panel-body">
              
              <p>
              This course covers essential elements of Asia-Pacific Financial markets, including
              countries like China, Indonesia, Malaysia, South Korea and others. Areas of
              interest include interactions of institutions and finance, corporate governance,
              sovereign risk, financial crises, valuation issues, methods of funds raisings & global
              portfolio management. This course aims to increase students’ understanding of
              investing in emerging markets and how to modify techniques of financial analysis
              developed for advanced economies and apply them to emerging markets
							</p>
							<div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1nNq-oVoGZCKXYzen3UbG-GIolsyRIav1/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>	
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3633head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3633" aria-expanded="true" aria-controls="fins3633">
              <p class="CoursePanel-title">
                 FINS3633 Real Estate Finance
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3633" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3633head">
            <div class="panel-body">
              
              <p>
              An excellent course that exposes students to the concepts, theories and industry practice
              in real estate finance. This plays an important role all over the world and is a critical issue
              in the current economic climate. It attempts to place real estate investments on the same
              theoretical footing as fixed-income and equity investments. It introduces to students the
              valuation methods used for investment decision making and the financial knowledge for
              real estate. It allows students interested in working in real estate development, brokerage,
              mortgage to have an insight into the industry
							</p>
							<div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/15O2sq-f_6wMDjBpykmPnX_9Kj_hBQnEM/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3634head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3634" aria-expanded="true" aria-controls="fins3634">
              <p class="CoursePanel-title">
                FINS3634 Credit Analysis & Lending
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3634" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3634head">
            <div class="panel-body">
              
              <p>
              A third year finance elective course with a main focus on loan portfolio analysis
              and credit risk modelling. Topics revolve around assessing credit risk and
              exploring strategies to manage risk in loan portfolios. In particular, it
              emphasises understanding in areas regarding of client needs, differing funding
              structures, and risk/reward for financial institutions.
							</p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/open?id=1v8t4eux9fYLqZkgjzCm5o73du_fvlWbL", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3639head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3639" aria-expanded="true" aria-controls="fins3639">
              <p class="CoursePanel-title">
                 FINS3639 Estate Plan & Asset Protection
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3639" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3639head">
            <div class="panel-body">
              
              <p>
              A subject that builds upon the core courses of Portfolio Management and Wealth
              Management that provides insight into the fundamental issues related to asset protection
              and succession planning. A practical subject that covers all the key estate planning
              elements impacting clients in need from a financial planning angle. Allows students to have
              a real insight into the world through a practical case study element and identifying the key
              issues faced by clients.
</p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1MpdjtU1TIwqw6KqWI2CvSv7M84rOr9r_/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3655head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3655" aria-expanded="true" aria-controls="fins3655">
              <p class="CoursePanel-title">
                  FINS3655 Behavioural Finance
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3655" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3655head">
            <div class="panel-body">
              
              <p>
              In this course, we will examine how people make predictable and repeatable mistakes in financial
              decision-making. We will describe the nature of these mistakes and their origin, using insights from
              psychology, neurosciences, and experimental economics, on how the human mind works. Students
              then discuss how incorporating these mistakes into our finance theories can greatly improve
              standard finance models studied in other courses. We will also consider how understanding the
              functioning of the human mind allows us to design a better world – in particular, better stock
              markets, retirement and healthcare systems.
							</p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/open?id=1zIuN0mBv4IBc_Kt4GH9XAAxTqYtb3scf", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default CoursePanel">
          <div class="CoursePanel-heading" role="tab" id="fins3775head">
            <a class="CoursePanel-heading-link" role="button" data-toggle="collapse" data-parent="#accordionOther" href="#fins3775" aria-expanded="true" aria-controls="fins3775">
              <p class="CoursePanel-title">
                 FINS3775 Research Methods in Finance 1
              <span class="glyphicon glyphicon-info-sign CoursePanel-icon" aria-hidden="true"></span>
              </p>
            </a>
          </div>
          <div id="fins3775" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fins3775head">
            <div class="panel-body">
              
              <p>
              Designed to provide an introduction to econometric theory and its application
              in empirical finance. Computer lab heavy and has an extensive use of leading
              statistical and econometric software that is employed extensively in research
              and practice.
							</p>
              <div class="CoursePanel-links">
                <%= link_to "https://drive.google.com/file/d/1dXAVnsxfIqHU_odXqjD3wqO-kG3peuMa/view?usp=sharing", target: :_blank do %>
                  <button class="Link Link--inverse">
                    View PDF
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        </div>	
      </div>	
    </div>
  </div>
</div>
