<div class="events-container">
  <div class="title">
    <h1>EVENTS</h1>
  </div>

  <a name="upcoming"></a>
  <div id="upcoming-events-section">
    <div class="subsection-title">Latest Events:</div>
    <!-- Events -->
      
    <div class="event first-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/cfachallenge.jpg", alt: "Event: CFA Institute Research Challenge" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           CFA Institute Research Challenge
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>2 August 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>11:59PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>NONE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             UNIT & FINSOC are proud to announce the 2017/18 CFA Research Institute Research Challenge! In this annual competition, the representing team will be required to evaluate a designated stock and recommend a suitable strategy to a panel of industry professionals based upon a comprehensive financial valuation. Throughout the program, you will receive mentoring and training from industry professionals to refine your financial modelling and problem solving acumen in order to prepare you for a globally recognised stage. Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/330228724069284", class: "link", :target => "_blank" %>
             </p>
          </div>
        </div>
      </div>
    </div> 
      
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/fieldday.jpg", alt: "Event: Finsoc Waffles" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           Field Day
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>13 May 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12-4PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>Centennial Park</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             The dread of finals got you down? Need a KICK in your life to bring you back up? MSOC, MARKSOC and FINSOC have teamed up and found the solution!
             Find 5 other mates, come on down to Centennial Park and relax with a friendly day of OZTAG, DODGEBALL AND SOCCER! 
             </p>
          </div>
        </div>
      </div>
    </div> 

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/finsocwaffles.png", alt: "Event: Finsoc Waffles" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           Free Waffle Pops
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>2 May 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12-2PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>Science Lawn</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             Come to the Science Lawn for free Waffle Pops!
             </p>
          </div>
        </div>
      </div>
    </div> 

      <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/big4insight.png", alt: "Event: Big 4 Internship Insight Panel" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                Big 4 Internship Insight Panel
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>6 April 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>6-8PM</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>ASB</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>UNSW FINSOC invites YOU to our Big 4 Internship Insight Panel involving a panel of previous interns from the Big 4 professional services firms (PwC, EY, KPMG and Deloitte). The panelists come from a range of different divisions including Deals, Performance Improvement Advisory, Assurance and Tax. This will be a unique opportunity to gain an insider perspective into the companies from individuals who have experienced the recruitment process first-hand. Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/1248408111879780/", class: "link" %>
                   </p>
               </div>
           </div>
         </div>
      </div>
       <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/financialindustrybreakdown.png", alt: "Event :Financial Industry Breakdown" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                A Breakdown of the Financial Industry
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>28 March 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>1-2PM</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>Law 303</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Ever wondered about what career opportunities are available out there for Finance students? Applying for internship or graduate programs but don’t know how to stand out? CFA and EY representatives will provide a wide-ranging insight into the vital role that the financial services industry plays in the world economy and how you can become a part of it. Spots are limited so <%= link_to "signup", "https://goo.gl/forms/fimdJOficwp4mdn73", class: "link" %> now!
                   </p>
               </div>
           </div>
         </div>
      </div> 

      <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/howtobeemployable.png", alt: "How to be Employable : Event" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 How to be Employable
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>20 March 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>1-2PM</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>Law G23</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Struggling to find a job? Possibly looking to accelerate your career? Or possibly you’re just looking to improve your skills and employability. Get an insight into the best tips and advice on how to become employable in the financial services industry! View more details <%= link_to "here", "https://www.facebook.com/events/1280490915364373/", class: "link" %>
                   </p>
               </div>
           </div>
         </div>
       </div> 

       <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/subcomsem1app.png", alt: "Sub Committee Applications" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 Subcommitee Applications 
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>10 March 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Become part of the FINSOC family this year! Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/285242321896148/", class: "link" %>
                   </p>
               </div>
           </div>
         </div>
    </div> 

     <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/meetgreetsem1.png", alt: "Meet and Greet at Science Lawn" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 Meet and Greet
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>6 Mar 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>12-2pm</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>Science Lawn</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Free Sausage Sizzle!</p>
               </div>
           </div>
         </div>
    </div> 

    <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/oweekvolunteering.png", alt: "O-Week Volunteering" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 O-Week Volunteering
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>4 Feb 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p></p>
               </div>
           </div>
         </div>
    </div> 
  </div> <!-- End Latest Events -->


  <a name="past"></a>
  <div id="past-events-section">
    <div class="subsection-title">Past Events (2016)</div>

    <!-- Events -->
    <div class="event first-event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/pancakes_hot_chocolate.jpg", alt: "Meet and Greet ft. Pancakes and Hot Chocolate" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Meet and Greet ft. Pancakes and Hot Chocolate
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>10 Aug 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>12-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>Science Lawn</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/investment_banking_careers_panel.jpg", alt: "Investment Banking Careers Panel" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Investment Banking Careers Panel
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>2 May 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>1-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>Law 101</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/fpsg_case_study_comp.jpg", alt: "FPSG Inter-University Case Competition" %>
        </div>
        <div class="content">
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              FPSG Inter-University Case Competition
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>5 Apr 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>None</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>
 
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/financial_planning_insight_talk.jpg", alt: "Financial Planning Insight Talk" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Financial Planning Insight Talk
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>15 Mar 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>12-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>
 
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/finsoc_social_bbq.jpg", alt: "FINSOC Social BBQ" %>
        </div>
        <div class="content">
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              FINSOC Social BBQ
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>11 Mar 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>12-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>Science Lawn</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/investment_banking_consulting_evening.png", alt: "Investment Banking and Consulting Evening" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Investment Banking and Consulting Evening
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>2 Mar 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>None</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div> 

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/o_week_promoter_team.jpg", alt: "O-Week Promoter Team Applications" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              O-Week Promoter Team Applications
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>16 Feb 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>23:59 PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

  </div> <!-- Past Events -->
</div> <!-- Events Container -->
