<div class="events-container">
  <div class="title">
    <h1>EVENTS</h1>
  </div>



  <a name="upcoming"></a>
  <div id="upcoming-events-section">
    <div class="subsection-title">Latest Events:</div>
    <!-- Events -->
    
    
    <div class="event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/advanced_excel.jpg", alt: "Event:  Advanced Excel for Finance" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
          Advanced Excel for Finance
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>19 JUNE 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>1:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ASB G21</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             FINSOC in partnership with School of Banking and Finance is proud to present our first Advanced Excel for Finance Workshop- run by UNSW finance co-op scholars with extensive experience in firms such as UBS, Deutsche Bank and Credit Suisse, to maximise your internship opportunity!

The workshop will cover not only the key technical skills, but also provide valuable insight into how advanced Excel techniques are used by financial analysts to make BIG BANK-so that you have an extra step-up when applying for positions. You will learn how to manage and present information while taking the legwork out of calculations and data manipulation.
Find out more and apply <%= link_to "HERE", "https://www.facebook.com/events/449777799143120/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <div class="event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/advanced_excel.jpg", alt: "Event:  Advanced Excel for Finance" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
          Advanced Excel for Finance
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>19 JUNE 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>1:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ASB G21</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             FINSOC in partnership with School of Banking and Finance is proud to present our first Advanced Excel for Finance Workshop- run by UNSW finance co-op scholars with extensive experience in firms such as UBS, Deutsche Bank and Credit Suisse, to maximise your internship opportunity!

The workshop will cover not only the key technical skills, but also provide valuable insight into how advanced Excel techniques are used by financial analysts to make BIG BANK-so that you have an extra step-up when applying for positions. You will learn how to manage and present information while taking the legwork out of calculations and data manipulation.
Find out more and apply <%= link_to "HERE", "https://www.facebook.com/events/449777799143120/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <div class="event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/advanced_excel.jpg", alt: "Event:  Advanced Excel for Finance" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
          Advanced Excel for Finance
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>19 JUNE 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>1:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ASB G21</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             FINSOC in partnership with School of Banking and Finance is proud to present our first Advanced Excel for Finance Workshop- run by UNSW finance co-op scholars with extensive experience in firms such as UBS, Deutsche Bank and Credit Suisse, to maximise your internship opportunity!

The workshop will cover not only the key technical skills, but also provide valuable insight into how advanced Excel techniques are used by financial analysts to make BIG BANK-so that you have an extra step-up when applying for positions. You will learn how to manage and present information while taking the legwork out of calculations and data manipulation.
Find out more and apply <%= link_to "HERE", "https://www.facebook.com/events/449777799143120/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/advanced_excel.jpg", alt: "Event:  Advanced Excel for Finance" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
          Advanced Excel for Finance
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>19 JUNE 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>1:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ASB G21</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             FINSOC in partnership with School of Banking and Finance is proud to present our first Advanced Excel for Finance Workshop- run by UNSW finance co-op scholars with extensive experience in firms such as UBS, Deutsche Bank and Credit Suisse, to maximise your internship opportunity!

The workshop will cover not only the key technical skills, but also provide valuable insight into how advanced Excel techniques are used by financial analysts to make BIG BANK-so that you have an extra step-up when applying for positions. You will learn how to manage and present information while taking the legwork out of calculations and data manipulation.
Find out more and apply <%= link_to "HERE", "https://www.facebook.com/events/449777799143120/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>



    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/women_in_finance.jpg", alt: "Event:  HSBC Women in Finance Mentoring Program" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            HSBC Women in Finance Mentoring Program
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>5 JUNE 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>9:00AM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ONLINE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             The HSBC Women in Finance Mentoring Program is an annual mentoring program hosted in partnership with HSBC, to connect current female finance students with successful finance industry professionals. The program aims to provide an opportunity for female finance students to develop a close relationship and receive guidance from experienced and accomplished professionals, in planning and navigating a successful career in the finance industry.
Apply <%= link_to "HERE", "https://www.facebook.com/events/681067732324005/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
   


<div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/Excel Workshop.png", alt: "Event:  Beginners Excel Workshop" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
             Beginners Excel Workshop
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>10 APRIL 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>4:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>CIVIL701</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
We all know the importance of Excel in the workplace, especially in the finance industry. We all see university staff talk about how important Excel is in the workplace, but we never see them teach it academically? You might think they're setting you up for failure! Well worry no more as FINSOC is proud to present the Beginners Excel Workshop, designed specifically for the finance student in mind.
Find out more <%= link_to "HERE", "https://www.facebook.com/events/427516801339669/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
	  <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/Guide.jpg", alt: "Event:  Finance Course Guide" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
             Finance Course Guide
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>7 APRIL 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ONLINE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Are you a finance student with no idea where you’re heading with your degree? Are you too lazy to go through massive course outlines to figure out which courses you should pick next? Well look no further!
Find out more <%= link_to "HERE", "https://www.facebook.com/events/1036209243237267/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>	  
<div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/Mock Interviews.png", alt: "Event:  Mock Interviews" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
             Mock Interviews
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>2 APRIL 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>MATHEWS230</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
To get you prepped and ready to ace that interview, AccSoc has partnered with FinSoc to bring you a mock interview practice session with real HR and industry representatives! These reps have been sourced from big firms, such as PwC, CFA Institute, CA and BCR.
Find out more <%= link_to "HERE", "https://www.facebook.com/events/384016772421893/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>	  
<div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/Big 4 Panel.png", alt: "Event:  Big 4 Internship Insights Panel" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
             Big 4 Internship Insights Panel
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>19 MARCH 2019</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>CLB5</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Are you a first-year student who is interested in exploring the opportunities available to you? Or a second to final year tertiary student who is applying for internships or graduate positions at the Big 4 firms and unsure how to stand out?
Find out more <%= link_to "HERE", "https://www.facebook.com/events/261245514818001/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/ey_workshop.png", alt: "Event:  Investment Advice for Uni Students" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
             Investment Advice for Uni Students
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>13 SEPTEMBER 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>4:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>UNSW</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Our workshop will be presented by skilled speakers who have advanced experience in case competitions. Learn strategies to effectively incorporate issue analysis frameworks to help you tackle any case you come across 👩‍💼👨‍💼. This workshop will also cover tips and tricks to create professional and engaging slide decks that stand out from the competition 💯🔥
Find out more <%= link_to "HERE", "https://www.facebook.com/events/469666053514206/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/advice.jpg", alt: "Event:  Investment Advice for Uni Students" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
             Investment Advice for Uni Students
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>12 SEPTEMBER 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>7:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>CIVIL109</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
In collaboration with UNSW FINSOC, PFC brings you the opportunity to hear from an industry professional on how to make smart investments. You will learn about various investment options such as index funds and ETFs while expanding your understanding of the financial services industry.
Find out more <%= link_to "HERE", "https://www.facebook.com/events/2371803476178007/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/ey_case.jpg", alt: "Event: 2018 EY Case Competition" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            2018 EY Case Competition
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>2 SEPTEMBER 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>COLOMBO LG01</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Want to test your skills at solving a management consulting problem? Want to show the other universities who's boss?

Well, you can achieve that through the 2018 EY Intervarsity Case Competition alongside UNSW Management Society, UNSW Business Society, UNSW Finance & Banking Society and UNSW Microfinance Consulting Group!
Find out more <%= link_to "HERE", "https://www.facebook.com/events/326906184541437/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/games.jpg", alt: "Event: Jackpot Games Night" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Jackpot Games Night
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>21 AUGUST 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ROUNDHOUSE 7</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Our games night will entail both card games such as Blackjack and Poker, as well as fun board games to keep you entertained for the whole night. There will be something for everyone. Feeling competitive? The night will be run on a system where the more raffles you win, the higher the chance of you hitting the jackpot and winning the grand prize! 
Find out more <%= link_to "HERE", "https://www.facebook.com/events/197468287794925/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/mock.jpg", alt: "Event: Mock Assessment Centre Work" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Mock Assessment Centre Workshop
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>15 AUGUST 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>3:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>CIVIL701</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
An Assessment Centre is a major recruitment process utilized by many firms and involves series of activities that enable an organisation to determine whether an individual's skills and experiences match their workplace culture and criteria. It is critical to your chances in receiving a partner/manager interview and getting that internship/graduate position!
Find out more <%= link_to "HERE", "https://www.facebook.com/events/1800113546746497/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/finstudy.jpg", alt: "Event: FINStudy Club" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            FINStudy Club
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>28 MAY 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>11:00AM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>CIVIL701</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Always been telling yourself that 2018 is your year and you’re going to score that HD WAM in FINS?
But sadly skipped all lectures after week 1 and wish you had been listening all semester?
Struggling to find the will to study and don’t really know where to start your revision at all??
Find out more <%= link_to "HERE", "https://www.facebook.com/events/1716917815064008/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/excel.jpg", alt: "Event: Beginner Excel" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Beginners Excel Workshop
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>22 MAY 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>4:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>LAW101</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Come along to FINSOC's Excel Skills Workshop to designed to help you build and develop your excel skills which are highly valued across a wide range of industries. 
Find out more <%= link_to "HERE", "https://www.facebook.com/events/201633633970111/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/resumeWorkshop.jpg", alt: "Event: Resume workshop" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Resume workshop
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>10 MAY 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>Red Centre M032</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Come along to FINSOC and UNSW Career and Employment’s Banking Resume Workshop to kickstart your career in finance! 
Find out more <%= link_to "HERE", "https://www.facebook.com/events/115513865978101/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/family.jpg", alt: "Event: Family Feud" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Family Feud
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>23 APRIL 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>ROUNDHOUSE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
FINSOC has the perfect opportunity for you to show everybody why your fam is #1! Battle it out at FINSOC’s Family Feud. Family Feud is a game show where teams compete by naming the most popular responses to survey questions!
Find out more <%= link_to "HERE", "https://www.facebook.com/events/196225824490974/", class: "link", :target => "_blank" %>.                  
    
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/intern.jpg", alt: "Event: Big 4 Intern Panel" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Gateway to Trading
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>26 MARCH 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>Law G04</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Join UNSW FINSOC for our Big 4 Internship Insight Panel and learn from a panel of previous interns from the Big 4 professional services firms (PwC, EY, KPMG and Deloitte). Over the summer, the panelists worked in a range of different divisions including Deals, Consulting, Assurance, Tax and Transactions Advisory. Come along and hear about their personal experiences, what it is like working at each respective firm and gain tips to optimise your application process.                   
                    
Find out more <%= link_to "HERE", "https://www.facebook.com/events/190698468210950/", class: "link", :target => "_blank" %> 
              
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/akuna.jpg", alt: "Event: Gateway to Trading" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Gateway to Trading
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>22 MARCH 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>TBC</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
UNSW FINSOC have partnered up with Akuna Capital to present to you an exclusive opportunity to network and gain insights on their day-to-day business. Based in Chicago, Akuna Capital has a multinational presence and are on the hunt for top students to join their recently launched Sydney office!

Representatives will be on campus running a Q&A session providing you with professional insights and top tips on entering a career in trading as well as a simulation game.                        
                    
Find out more <%= link_to "HERE", "https://www.facebook.com/events/438545413268206/", class: "link", :target => "_blank" %> 
              
             </p>
        
          </div>
        </div>
      </div>
    </div>
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/meet.jpg", alt: "Event: Meet and Greet" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Director Meet and Greet
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>7 MARCH 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12:30PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>SCIENCE LAWN</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
If you are interested in joining the team, have a chat with some of our directors and executives to find out what subcommittee positions excite and interest you, while also gaining tips on how you can get your application ahead of the pack. 

                 
              
                    
Find out more <%= link_to "HERE", "https://www.facebook.com/events/1798312260199283/", class: "link", :target => "_blank" %> 
              
             </p>
        
          </div>
        </div>
      </div>
    </div> 
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/hsbc.jpg", alt: "Event: Starting a Career in Banking" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Starting a Career in Banking
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>8 March 2018</p>
              </div>
              <div style="max-width:150px;" class="event-content-time col-md-1">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>1:00PM</p>
              </div>
              <div style="min-width:340px;padding-left:0px;" class="event-content-location col-md-5">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p style="font-size:16px;">RoundHouse UNSW, CONF Room 6 (Lvl 1)</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Join UNSW FINSOC and HSBC for an informative session outlining what a career in banking involves and the different divisions (in particular global banking and capital markets banking), how to build a successful career in banking, and upcoming career opportunities. 

This is a great opportunity to meet and network with representatives from one of the world’s largest banking and financial services organisations. Hear about their career journeys, why they love their job and receive application tips and tricks to assist you in applying for banking internships and graduate roles.
                 
                 <br/><br/>
                    <p>
Find out more and sign up <%= link_to "HERE", "https://www.facebook.com/events/2021768251436557/", class: "link", :target => "_blank" %> 
               </p>
             </p>
        
          </div>
        </div>
      </div>
    </div> 
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/subcom.jpg", alt: "Event: Subcommittee Applications" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Subcommittee Applications
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>9 March 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12:00AM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>NONE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
Become part of the FINSOC fam this year!
The UNSW Finance and Banking Society Subcommittee Applications have now opened! If you want to join the team this year, develop your skills, meet new and like-minded people whilst gaining an invaluable experience, look no further!
                 
                 <br/><br/>
                    <p>
Applications are done on a rolling basis so apply <%= link_to "HERE", "https://tinyurl.com/FinsocSubcommittee", class: "link", :target => "_blank" %>  and for more information click <%= link_to "HERE", "https://www.facebook.com/events/197098474211959/", class: "link", :target => "_blank" %>.
               </p>
             </p>
        
          </div>
        </div>
      </div>
    </div> 
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2018/oweek.jpg", alt: "Event: Volunteer with Finsoc for O-Week 2018!" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Volunteer with FINSOC for O-Week 2018!
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>4 February 2018</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12:00AM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>NONE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>


The Finance and Banking Society (FINSOC) is currently recruiting volunteers to promote and brand FINSOC during Orientation Week at UNSW. 

As a member of the FINSOC Promotion Team you will be able to learn and network with the 2018 Executive and Director team, while improving your interpersonal and teamwork skills through engaging and interacting with a variety of students through the week. 

Applications will close on Sunday 4th February and will be processed on a rolling basis. 

Successful applicants will be required to attend the FINSOC O-Week Volunteer Training Day (held on Saturday 17th February), and at least one day during O-Week (19th - 23th February).
                 <br/><br/>
                    <p>
Apply <%= link_to "HERE", "https://goo.gl/forms/qzVJAlZwKTSQXSxj1", class: "link", :target => "_blank" %>  and check out our facebook <%= link_to "event", "https://www.facebook.com/events/1947954118799249/", class: "link", :target => "_blank" %>.
               </p>
             </p>
        
          </div>
        </div>
      </div>
    </div> 
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/aimainvestments.jpg", alt: "Event: Intro to Alternative Investments" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Intro to Alternative Investments
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>4 October 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>4:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>LAW201</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             Interested in a career in the financial services? Looking to expand your knowledge of financial products and investments?

In collaboration with AIMA (Alternative Investment Management Association), UNSW FINSOC is excited to provide you a perfect opportunity to learn about jobs and opportunities in the financial services industry beyond Investment Banking and the Big Four. Make sure you register in this <%= link_to "FORM", "https://goo.gl/forms/Ro0RBKkq2V58oE9h2", class: "link", :target => "_blank" %> and check out our facebook event <%= link_to "here", "https://www.facebook.com/events/175356413014973", class: "link", :target => "_blank" %>
             </p>
          </div>
        </div>
      </div>
    </div> 
      
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/expotrading.jpg", alt: "Event: Exponential Trading Tournament" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           Exponential Trading Tournament
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>26 September 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12:00AM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>NONE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             Ever fancied yourself as a Trader? Looking to apply your finance knowledge in a practical environment? UNSW FINSOC has partnered with Exponential Trading to bring you our Exponential Trading Tournament! Exponential Trading is a boutique proprietary trading firm, which commits their own capital to trade equities, derivatives and currencies in the Asia Pacific region. Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/338902879885957", class: "link", :target => "_blank" %>
             </p>
          </div>
        </div>
      </div>
    </div> 
      
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/reverseinterview.png", alt: "Event: Reverse Interview" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           Reverse Interview
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>18 September 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>MAT310</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             Have you ever wanted to flip the tables and be the one to ask the questions? Well with our Reverse Interview Event organised in collaboration with Austern, the UNSW Finance and Banking Society is excited to provide you with the unique opportunity to do exactly that! Take this chance to fire any questions you have from career progression and job searching to leadership skills. Make sure you register in this <%= link_to "FORM", "https://goo.gl/forms/UWUzwDObEoFbOtWg2", class: "link", :target => "_blank" %> and check out our facebook event <%= link_to "here", "https://www.facebook.com/events/1185620631568042", class: "link", :target => "_blank" %>
             </p>
          </div>
        </div>
      </div>
    </div> 
    
      <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/ibpottinger.jpg", alt: "Event: IB Pottinger CEO Insights" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           Pottinger CEO Insights | Breaking into IB
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>6 September 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>6:00PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>LAW G23</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             In collaboration with Pottinger, the UNSW Finance and Banking Society is excited to present our 2017 Breaking into Investment Banking session. You will have the chance to meet and listen to Pottinger's CEO as well as other representatives, where you will be able to receive advice and insights on how to break into IB, so it's definitely not to be missed! Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/122749801711528", class: "link", :target => "_blank" %>
             </p>
          </div>
        </div>
      </div>
    </div> 
      
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/mockcentre.jpg", alt: "Event: Mock Assessment Centre Workshop" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
            Mock Assessment Centre Workshop
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>21 August 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>3:30PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>Ainsworth G01</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
        
In collaboration with UNSW Careers and Employment, the UNSW Finance and Banking Society will be running a Mock Assessment Centre Workshop! The Assessment Centre is the major recruitment process many firms utilise to realise your communication, teamwork, presentation, active listening and problem solving skills. It is critical to your chances in receiving a partner/manager interview and getting that internship/graduate position!

Make sure you register in this <%= link_to "FORM", "https://goo.gl/forms/lwu2LJNwpyGUU9ok2", class: "link", :target => "_blank" %>
             </p>
          </div>
        </div>
      </div>
    </div>
      
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/cfachallenge.jpg", alt: "Event: CFA Institute Research Challenge" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           CFA Institute Research Challenge
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>2 August 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>11:59PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>NONE</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             UNIT & FINSOC are proud to announce the 2017/18 CFA Research Institute Research Challenge! In this annual competition, the representing team will be required to evaluate a designated stock and recommend a suitable strategy to a panel of industry professionals based upon a comprehensive financial valuation. Throughout the program, you will receive mentoring and training from industry professionals to refine your financial modelling and problem solving acumen in order to prepare you for a globally recognised stage. Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/330228724069284", class: "link", :target => "_blank" %>
             </p>
          </div>
        </div>
      </div>
    </div> 
      
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/fieldday.jpg", alt: "Event: Field Day" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           Field Day
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>13 May 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12-4PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>Centennial Park</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             The dread of finals got you down? Need a KICK in your life to bring you back up? MSOC, MARKSOC and FINSOC have teamed up and found the solution!
             Find 5 other mates, come on down to Centennial Park and relax with a friendly day of OZTAG, DODGEBALL AND SOCCER! 
						One person should sign up for the whole team on this 
					<%= link_to "form", "https://docs.google.com/forms/d/e/1FAIpQLSewvDFVEwXdAeolokCacJhtHDbxK0emkca_KHhkftlMiXpK8g/viewform?c=0&w=1", class: "link" %>
             </p>
          </div>
        </div>
      </div>
    </div> 

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
         <%= image_tag "events/2017/finsocwaffles.png", alt: "Event: Finsoc Waffles" %>
        </div>
        <div class="event-content">
          <h2 class="event-content-title">
           Free Waffle Pops
          </h2>
          <div class="row">
              <div class="event-content-date col-md-4">
                  <%= image_tag "icons/calendar.svg", :class => "svg" %>
                  <p>2 May 2017</p>
              </div>
              <div class="event-content-time col-md-4">
                  <%= image_tag "icons/clock.svg", :class => "svg" %>
                  <p>12-2PM</p>
              </div>
              <div class="event-content-location col-md-4">
                  <%= image_tag "icons/location.svg", :class => "svg" %>
                  <p>Science Lawn</p>
              </div>
           </div>
           <div class="event-content-details">
             <p>
             Come to the Science Lawn for free Waffle Pops!
             </p>
          </div>
        </div>
      </div>
    </div> 

      <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/big4insight.png", alt: "Event: Big 4 Internship Insight Panel" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                Big 4 Internship Insight Panel
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>6 April 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>6-8PM</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>ASB</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>UNSW FINSOC invites YOU to our Big 4 Internship Insight Panel involving a panel of previous interns from the Big 4 professional services firms (PwC, EY, KPMG and Deloitte). The panelists come from a range of different divisions including Deals, Performance Improvement Advisory, Assurance and Tax. This will be a unique opportunity to gain an insider perspective into the companies from individuals who have experienced the recruitment process first-hand. Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/1248408111879780/", class: "link" %>
                   </p>
               </div>
           </div>
         </div>
      </div>
       <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/financialindustrybreakdown.png", alt: "Event :Financial Industry Breakdown" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                A Breakdown of the Financial Industry
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>28 March 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>1-2PM</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>Law 303</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Ever wondered about what career opportunities are available out there for Finance students? Applying for internship or graduate programs but don’t know how to stand out? CFA and EY representatives will provide a wide-ranging insight into the vital role that the financial services industry plays in the world economy and how you can become a part of it. Spots are limited so <%= link_to "signup", "https://goo.gl/forms/fimdJOficwp4mdn73", class: "link" %> now!
                   </p>
               </div>
           </div>
         </div>
      </div> 

      <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/howtobeemployable.png", alt: "How to be Employable : Event" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 How to be Employable
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>20 March 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>1-2PM</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>Law G23</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Struggling to find a job? Possibly looking to accelerate your career? Or possibly you’re just looking to improve your skills and employability. Get an insight into the best tips and advice on how to become employable in the financial services industry! View more details <%= link_to "here", "https://www.facebook.com/events/1280490915364373/", class: "link" %>
                   </p>
               </div>
           </div>
         </div>
       </div> 

       <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/subcomsem1app.png", alt: "Sub Committee Applications" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 Subcommitee Applications 
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>10 March 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Become part of the FINSOC family this year! Check out our facebook event <%= link_to "here", "https://www.facebook.com/events/285242321896148/", class: "link" %>
                   </p>
               </div>
           </div>
         </div>
    </div> 

     <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/meetgreetsem1.png", alt: "Meet and Greet at Science Lawn" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 Meet and Greet
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>6 Mar 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>12-2pm</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>Science Lawn</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p>Free Sausage Sizzle!</p>
               </div>
           </div>
         </div>
    </div> 

    <div class="event past-event">
         <div class="event-inner">
           <div class="event-img">
             <%= image_tag "events/2017/oweekvolunteering.png", alt: "O-Week Volunteering" %>
           </div>
           <div class="event-content">
               <h2 class="event-content-title">
                 O-Week Volunteering
               </h2>
               <div class="row">
                   <div class="event-content-date col-md-4">
                       <%= image_tag "icons/calendar.svg", :class => "svg" %>
                       <p>4 Feb 2017</p>
                   </div>
                   <div class="event-content-time col-md-4">
                       <%= image_tag "icons/clock.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
                   <div class="event-content-location col-md-4">
                       <%= image_tag "icons/location.svg", :class => "svg" %>
                       <p>None</p>
                   </div>
               </div>
               <div class="event-content-details">
                   <p></p>
               </div>
           </div>
         </div>
    </div> 
  </div> <!-- End Latest Events -->


  <a name="past"></a>
  <div id="past-events-section">
    <div class="subsection-title">Past Events (2016)</div>

    <!-- Events -->
    <div class="event first-event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/pancakes_hot_chocolate.jpg", alt: "Meet and Greet ft. Pancakes and Hot Chocolate" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Meet and Greet ft. Pancakes and Hot Chocolate
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>10 Aug 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>12-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>Science Lawn</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/investment_banking_careers_panel.jpg", alt: "Investment Banking Careers Panel" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Investment Banking Careers Panel
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>2 May 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>1-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>Law 101</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/fpsg_case_study_comp.jpg", alt: "FPSG Inter-University Case Competition" %>
        </div>
        <div class="content">
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              FPSG Inter-University Case Competition
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>5 Apr 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>None</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>
 
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/financial_planning_insight_talk.jpg", alt: "Financial Planning Insight Talk" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Financial Planning Insight Talk
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>15 Mar 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>12-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>
 
    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/finsoc_social_bbq.jpg", alt: "FINSOC Social BBQ" %>
        </div>
        <div class="content">
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              FINSOC Social BBQ
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>11 Mar 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>12-2PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>Science Lawn</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/investment_banking_consulting_evening.png", alt: "Investment Banking and Consulting Evening" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              Investment Banking and Consulting Evening
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>2 Mar 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>None</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div> 

    <div class="event past-event">
      <div class="event-inner">
        <div class="event-img">
          <%= image_tag "events/o_week_promoter_team.jpg", alt: "O-Week Promoter Team Applications" %>
        </div>
        <div class="event-content">
            <h2 class="event-content-title">
              O-Week Promoter Team Applications
            </h2>
            <div class="row">
                <div class="event-content-date col-md-4">
                    <%= image_tag "icons/calendar.svg", :class => "svg" %>
                    <p>16 Feb 2016</p>
                </div>
                <div class="event-content-time col-md-4">
                    <%= image_tag "icons/clock.svg", :class => "svg" %>
                    <p>23:59 PM</p>
                </div>
                <div class="event-content-location col-md-4">
                    <%= image_tag "icons/location.svg", :class => "svg" %>
                    <p>None</p>
                </div>
            </div>
            <div class="event-content-details">
                <p></p>
            </div>
        </div>
      </div>
    </div>

  </div> <!-- Past Events -->
</div> <!-- Events Container -->
