<div class="PageHSBCMentor">
  <a name="values"></a> 
    <div class = "aboutHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1>Women in Finance</h1>
    </div>
    </div>
</div>
    
    <div class="content">
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">What is it?</h2>
            <br/>
        </div>
          <span class="FinsocHighlight">To help Business Students with an interest in Banking and Financial Planning in achieving their abc career objectives within the Financial services industry.</span><br/><br/>
        <p class="PageHSBCMentor-text">
            The HSBC Women in Finance Mentoring Program is an annual mentoring program hosted in partnership with HSBC, to connect current female finance students with successful finance industry professionals. The program aims to provide an opportunity for female finance students to develop a close relationship and receive guidance from experienced and accomplished professionals, in planning and navigating a successful career in the finance industry.
            </p>
            <p class="PageHSBCMentor-text">
                Students can gain valuable insight into what it is like in the finance professional and gain a lifelong mentor/friend to whom they can turn to, on not only professional issues and concerns, but also more personal problems in relation to working in a heavily male-dominated finance industry as a woman.
            </p>
      </div>
    </div>
    <div class="section2">
    <div class="section2">
      <div class="section-text container">
        <div class="subheading">
           <h2 class="h2Custom">Sponsors on Board</h2>
            <br/>
        </div>
  
	      <%= render partial: "main/sponsors/template", locals: {
        id: "HSBC",
        name: "HSBC",
        image_file: "hsbc3.png",
        detail: "",
        site_url: "https://www.hsbc.com.au/"
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "cfa",
        name: "CFA Institute",
        image_file: "realcfa.png",
        detail: "",
        site_url: "https://www.cfainstitute.org"
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "Challenger",
        name: "Challenger",
        image_file: "challenger.png",
        detail: "",
        site_url: "https://www.challenger.com.au/about-us"
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "investec",
        name: "Investec",
        image_file: "investec.png",
        detail: "",
        site_url: "https://www.investec.com/en_au/welcome-to-investec.html"
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "shadforth",
        name: "Shadforth",
        image_file: "shadforth.jpg",
        detail: "",
        site_url: "https://www.sfg.com.au/"
      }%>
	         <%= render partial: "main/sponsors/template", locals: {
        id: "cfm",
        name: "CFM",
        image_file: "cfm.jpg",
        detail: "",
        site_url: "https://cfmaltbeta.com.au/"
      }%>
	       <%= render partial: "main/sponsors/template", locals: {
        id: "dalton",
        name: "Dalton Street Capital",
        image_file: "dalton.jpg",
        detail: "",
        site_url: "https://daltonstreetcapital.com/"
      }%>
	      
	       <%= render partial: "main/sponsors/template", locals: {
        id: "aqr",
        name: "AQR",
        image_file: "aqr.png",
        detail: "",
        site_url: "https://www.aqr.com/"
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "bain",
        name: "Bain",
        image_file: "bain.png",
        detail: "",
        site_url: "https://www.bain.com/"
      }%>
	       <%= render partial: "main/sponsors/template", locals: {
        id: "lazard",
        name: "Lazard",
        image_file: "lazard.png",
        detail: "",
        site_url: "https://www.lazard.com/"
      }%>
	       <%= render partial: "main/sponsors/template", locals: {
        id: "amp",
        name: "AMP Capital",
        image_file: "amp.jpg",
        detail: "",
        site_url: "https://www.ampcapital.com/au/en/home"
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "nab",
        name: "NAB",
        image_file: "nab.jpg",
        detail: "",
        site_url: "https://www.nab.com.au/"
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "ascalon",
        name: "Ascalon",
        image_file: "ascalon.png",
        detail: "",
        site_url: ""
      }%>
	      <%= render partial: "main/sponsors/template", locals: {
        id: "deutsche",
        name: "Deutsche Bank",
        image_file: "deutsche.png",
        detail: "",
        site_url: "https://www.db.com/company/index.htm"
      }%>
	       <%= render partial: "main/sponsors/template", locals: {
        id: "tribeca",
        name: "Tribeca",
        image_file: "tribeca.png",
        detail: "",
        site_url: "https://tribecaip.com/"
      }%>
	       <%= render partial: "main/sponsors/template", locals: {
        id: "deutsche",
        name: "Deutsche Bank",
        image_file: "deutsche.png",
        detail: "",
        site_url: "https://www.db.com/company/index.htm"
      }%>
	      
	       <%= render partial: "main/sponsors/template", locals: {
        id: "aberdeen",
        name: "Aberdeen Standard Investments",
        image_file: "aberdeen.jpg",
        detail: "",
        site_url: "https://www.aberdeenstandard.com/"
      }%>
	      
	       <%= render partial: "main/sponsors/template", locals: {
        id: "wibf",
        name: "WIBF",
        image_file: "wibf.png",
        detail: "",
        site_url: "https://www.wibf.org.au/press-kit/"
      }%>
	      
	       <%= render partial: "main/sponsors/template", locals: {
        id: "cme",
        name: "CME Group",
        image_file: "cme.png",
        detail: "",
        site_url: "https://www.cmegroup.com/"
      }%>
	      
	      
	      
	     
	      
	      
	      
	      
	  
	    
	    
	      
	      
	     
	      
	    
   
      </div>
    </div>
    </div>
        
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">Who are we looking for?</h2>
            <br/>
        </div>
          <span class="FinsocHighlight"><center>We are looking for female identifying UNSW finance students who are ambitious and driven!</center></span><br/><br/>
      </div>
    </div>    
    
    
    <div class="section">
      <div class="section-text container">
        <div class="subheading">
          <h2 class="h2Custom">How do I apply?</h2>
            <br/>
        </div>
            <p class="PageHSBCMentor-text">
                <center>This is a 6 month commitment and therefore we cannot accept those going on exchange.</center>
            </p>   

             <p class="PageHSBCMentor-text">

                 <center>Applications are ROLLING and close 14th June 11.59pm, with interviews being undertaken early the week after!  </center>      </p>
             <p class="PageHSBCMentor-text">

                 <center>If you have any questions please do not hesitate to contact Christina Kim, General Secretary, at secretary@unswfinsoc.org.au.       </center>     </p>
          <hr/>
<a href="https://forms.gle/91bWreNxoejvCv376">
        <div class="Card-footer Card-footer--center">
            <center><button class="Link"  type="button">APPLICATIONS OPEN</button></center>
            </div>
		</a>
        
        </div>
        </div>

    </div>
    
    <div class="container">
        
        
        
        
    </div>
</div>
