<div class="PageHSBCMentor">
    <div id="">
        <div class="carousel-inner" role="listbox">
            <div class="item active carousel-img">
             <%= image_tag "events/2017/hsbcmentoringcrop.jpg", id:"finsoc-banner-logo", alt: "UNSW FINSOC" %>
           </div>
          </div>
    </div>
    <br/>
    <div class="container">
        <!---<div class="title">
          <h1>HSBC Women in Finance</h1>
        </div>--->
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>What is it?</h2>
            </div>
            <span class="FinsocHighlight">
                The HSBC Women in Finance Mentoring Program is an annual mentoring program, sponsored by HSBC, Gresham, CFA Institute, Challenger, EY, Nomura, AIMA and Luminis Partners, with the purpose of connecting current female finance students with successful finance industry professionals. The program aims to provide an opportunity for female finance students to develop close relationships with, and receive guidance from experienced and accomplished professionals, in order to help them plan and navigate a successful career in the finance industry.<br/><br/>

                Students can gain valuable insight into what it is like being a female finance professional in our current industry environment and gain a lifelong mentor/friend to whom they can turn to, on not only professional issues and concerns, but also more personal problems in relation to working in a heavily male-dominated finance industry as a woman.<br/>
                </span>
            </div>
        </div>
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>Who are we looking for?</h2>
            </div>
            <span class="FinsocHighlight">
                        We are looking for female identifying UNSW finance students who are ambitious and driven, currently in their undergraduate or postgraduate degree.<br/><br/>
                
                As a mentee, you will be required to attend the Launch Night on 13 September 5:00pm - 7:00pm at the HSBC Offices where you will be first introduced to your mentor. Both mentor and mentee will then arrange future meeting times, frequency of contact and method of correspondence.<br/><br/>
             </span>
            </div>
        </div>    
          
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>How do I apply?</h2>
            </div>
            <span class="FinsocHighlight">
              Applications are ROLLING and close Wednesday 23rd August 11:59pm, with interviews being undertaken as early as week 5!<br/><br/>
              If you have any questions please do not hesitate to contact Kelly Wu, Vice President (Operations), at kelly.wu@unswfinsoc.org.au.<br/><br/>
            </span>
            <div class="Card-footer--center">
                <%= link_to '<button class="Link"> APPLY NOW</button>'.html_safe, "https://goo.gl/forms/ii93adretsUMlh5j2", :target => "_blank" %>  <br/><br/>              
            </div>
          </div>
        </div> 
        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>Sponsers</h2><br/><br/>
            </div>
            <div class="SponsorsList">
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/cfa.jpg", alt: "CFA Institute" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/challenger.png", alt: "Challenger" %>
              </div>
            </div>
            <div class="SponsorsList">
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/gresham.png", alt: "Gresham" %>
              </div> 
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/ey.png", :class=> "sponsorImg", alt: "EY" %>
              </div>
            </div>
            <div class="SponsorsList"> 
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/luminis.jpg", alt: "Luminis" %>
              </div>
              <div class="SponsorsList-item">
                <%= image_tag "sponsors/aima.jpg",  :class=> "sponsorImg",  alt: "Aima" %>
              </div>
            </div>
            <div class="SponsorsList"> 
              <div class="SponsorsList-item SponsorsList-item--nomura">
                  <%= image_tag "sponsors/nomura.svg", alt: "Nomura" %>
              </div>
            </div>
          </div>
        </div>    
    </div>
</div>
