<div class="PageIndex">
    <div id="finsoc-banner">
      <div class="carousel-inner" role="listbox">
       <div class="item active carousel-img">
          <div class="banner-text">
              <h1>
                  Finance & Banking Society
              </h1>
              <h2>
                  University of New South Wales<br/>
                  FINSOC
              </h2>
          </div>
          <% if  show_new_page %>
            <%= link_to hsbc_womens_mentoring_path, class: "event-box-link", method: :get do %>
              <div class="event-box">
                  <!--<b>UPCOMING EVENTS</b>-->
                  <b>VIEW HSBC MENTORING PROGRAM</b>
              </div>
            <% end %>
          <% end %>
         <%= image_tag "events/default-min-2.jpg", id:"finsoc-banner-logo", alt: "UNSW FINSOC" %>
       </div>
      </div>
    </div>

    <div class="PageIndex-featured">
      <%= link_to course_guide_path, :class=> "PageIndex-courseGuideFeature", method: :get do %>
            <div class="PageIndex-courseGuideFeature-text">
              <p>View our</p>
              <p>Finance Course Guide</p>
             <span class="glyphicon glyphicon-info-sign PageIndex-courseGuideFeature-icon" aria-hidden="true"></span> 
            </div>
        <% end %>
        <div class="Event">
            <div class="Event-imgContainer">
              <a href="/events">
                  <div class="Event-imgContainer-link">
                      <%= image_tag "events/2017/mockcentre.jpg", :class=> "Event-imgContainer-img Event-imgContainer-img--showRight", alt: "Mock Assessment Center Workshop" %>
                  </div>
              </a>
            </div>
            <div class="Event-title">
            Mock Assessment Ctr.
            </div>
        </div>
        <div class="Event Event-past">
            <div class="Event-imgContainer">
                <a href="/events">
                    <%= image_tag "events/2017/cfachallenge.jpg", :class=> "Event-imgContainer-img", alt: "Grad Mentor" %>
                </a>
            </div>
            <div class="Event-title">
            CFA Challenge
            </div>
        </div>
        <div class="Event Event-past">
            <div class="Event-imgContainer">
                <a href="/events">
                    <div class="Event-imgContainer-link">
                        <%= image_tag "events/2017/fieldday.jpg", :class=> "Event-imgContainer-img Event-imgContainer-img--showRight", alt: "Field Day" %>
                    </div>
                </a>
            </div>
            <div class="Event-title">
            Field Day
            </div>
        </div>
    </div>

    <div class="container">
        <div class="Card PageIndex-missionCard">
            <div class="title">
                <h2>Our Mission</h2>
            </div>
            <div class="PageIndex-missionCard-text">
                <p>To become Australia&#8217;s leading student run society platform in assisting students on achieving their banking and financial planning career goals.</p>
            </div>
        </div>

        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>Sponsors</h2>
            </div>
            <% if !show_new_page %>
            <div class="SponsorsList"> 
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/fpa.jpg", alt: "FPA" %>
              </div>
              <div class="SponsorsList-item">
              <%= image_tag "sponsors/gradmentor.jpg", alt: "GradMentor" %>
              </div>
              <div class="SponsorsList-item">
              <%= image_tag "sponsors/logozookal.png", alt: "Zookal" %>
              </div>
            </div>
          <% end %>
            <% if show_new_page %>
            <div class="SponsorsList"> 
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/cfa.jpg", alt: "CFA Institute" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/ey.svg", alt: "EY" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/hsbc2.png", alt: "HSBC" %>
              </div>
            </div>
            <div class="SponsorsList">
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/aima.jpg", alt: "AIMA" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/gresham.png", alt: "Gresham" %>
              </div> 
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/fpa.jpg", alt: "FPA" %>
              </div>
            </div>
            <div class="SponsorsList">
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/gradmentor.jpg", alt: "GradMentor" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/nomura.svg", alt: "Nomura" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/logozookal.png", alt: "Zookal" %>
              </div>
            </div>
            <div class="SponsorsList">
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/luminis.jpg", alt: "Luminis Partners" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/challenger-logo.png", alt: "Challenger" %>
              </div>
            </div>
          <% end %>
          </div>
          <div class="Card-footer Card-footer--center">
            <% if !show_new_page %>
              <%= link_to sponsorship_path, method: :get do %>
                  <button class="Link">
                      More Details
                  </button>
              <% end %>
            <%  else %>
              <%= link_to newsponsors_path, method: :get do %>
                  <button class="Link">
                      More Details
                  </button>
              <% end %>

            <% end %>
          </div>
        </div>
    </div>
</div>
