<div class="PageIndex">
    <div id="finsoc-banner">
      <div class="carousel-inner" role="listbox">
       <div class="item active carousel-img PageIndex-carousel-img">
          <div class="PageIndex-carousel-text">
            <h1>
              Finance & Banking Society
            </h1>
            <h2>
              University of New South Wales<br/>
              FINSOC
            </h2>
          </div>
          <% if  show_new_page %>
            
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKHEb1Ah3dmet1YujrW6woqu164Y44sUk57kTRFfPMk3RR_Q/viewform" target="_blank"><div class="event-box">
                  <!--<b>UPCOMING EVENTS</b>-->
                  <b>2018 SIGN UP FORM </b>
                  </div></a>
          <% end %>
         <%= image_tag "events/default-min-2.jpg", id:"finsoc-banner-logo", alt: "UNSW FINSOC" %>
       </div>
      </div>
    </div>

    <div class="PageIndex-featured container">
      <%= link_to course_guide_path, :class=> "PageIndex-courseGuideFeature", method: :get do %>
            <div class="PageIndex-courseGuideFeature-text">
              <p>View our</p>
              <p>Finance Course Guide</p>
             <span class="glyphicon glyphicon-info-sign PageIndex-courseGuideFeature-icon" aria-hidden="true"></span> 
            </div>
        <% end %>
        <div class="Event Event-past">
            <%= link_to events_path, method: :get do %>

            <div class="Event-imgContainer">
                  <div class="Event-imgContainer-link">
                      <%= image_tag "events/2018/family.jpg", :class=> "Event-imgContainer-img Event-imgContainer-img--showRight", alt: "Family Feud" %>
                  </div>
            </div>
            <% end %>
            <div class="Event-title">
            Family Feud

            </div>
        </div>
        <div class="Event Event-past">
            <%= link_to events_path, method: :get do %>

            <div class="Event-imgContainer">
                    <%= image_tag "events/2018/intern.jpg", :class=> "Event-imgContainer-img", alt: "O-Week" %>
            </div>
            <% end %>
            <div class="Event-title">
            Intern Panel
            </div>
        </div>
        <div class="Event Event-past">
            <%= link_to events_path, method: :get do %>

            <div class="Event-imgContainer">
                    <%= image_tag "events/2018/akuna.jpg", :class=> "Event-imgContainer-img", alt: "Gateway To Trading" %>
            </div>
            <% end %>
            <div class="Event-title">
            Gateway to Trading
            </div>
        </div>
        
        
    </div>

    <div class="container">
        <div class="Card PageIndex-missionCard">
            <div class="title">
                <h2>Our Mission</h2>
            </div>
            <div class="PageIndex-missionCard-text">
                <p>To become Australia&#8217;s leading student run society platform in assisting students on achieving their banking and financial planning career goals.</p>
            </div>
        </div>

        <div class="Card">
          <div class="Card-text">
            <div class="title">
              <h2>Sponsors</h2>
            </div>
            <% if !show_new_page %>
            <div class="SponsorsList"> 
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/fpa.jpg", alt: "FPA" %>
              </div>
              <div class="SponsorsList-item">
              <%= image_tag "sponsors/gradmentor.jpg", alt: "GradMentor" %>
              </div>
              <div class="SponsorsList-item">
              <%= image_tag "sponsors/logozookal.png", alt: "Zookal" %>
              </div>
            </div>
          <% end %>
            <% if show_new_page %>
            <div class="SponsorsList"> 
              <div class="SponsorsList-item SponsorsList-hsbc">
                  <%= image_tag "sponsors/hsbc3.png", alt: "HSBC" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/cfa.jpg", alt: "CFA Institute" %>
              </div>
              <div class="SponsorsList-item SponsorsList-hsbc">
                  <%= image_tag "sponsors/jpmorgan1.png", alt: "EY" %>
              </div>
              
            </div>
            <div class="SponsorsList">
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/challenger-logo.png", alt: "Challenger" %>
              </div>
              <div class="SponsorsList-item SponsorsList-gresham">
                  <%= image_tag "sponsors/wilsons1.png", alt: "Gresham" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/akuna.png", alt: "AKUNA" %>
              </div>
              
            </div>
            <div class="SponsorsList">
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/gradmentor.jpg", alt: "GradMentor" %>
              </div>
              <div class="SponsorsList-item SponsorsList-nomura">
                  <%= image_tag "sponsors/gresham.png", alt: "Nomura" %>
              </div>
                <div class="SponsorsList-item">
                  <%= image_tag "sponsors/logozookal.png", alt: "Zookal" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/aima.jpg", alt: "Zookal" %>
              </div>
            </div>
            <div class="SponsorsList">
                <div class="SponsorsList-item">
                  <%= image_tag "sponsors/nomura.png", alt: "Zookal" %>
              </div>
              <div class="SponsorsList-item SponsorsList-luminis">
                  <%= image_tag "sponsors/luminis.jpg", alt: "Luminis Partners" %>
              </div>
              <div class="SponsorsList-item">
                  <%= image_tag "sponsors/ey.png", alt: "Challenger" %>
              </div>
            </div>
          <% end %>
          </div>
          <div class="Card-footer Card-footer--center">
            <%= link_to sponsorship_path, method: :get do %>
                <button class="Link">
                    More Details
                </button>
            <% end %>
          </div>
        </div>
    </div>
</div>
