<div class="pageSponsors">
    <a name="sponsors"></a>
    <div class = "sponsorHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1> Our Sponsors</h1>
    </div>
    </div>
</div>
    
    <div class="section">
    <div class="sponsors-container container">
        <br/> 
        <br/>
        <br/>
        <div class="subheading">
          <h2 class="h2Custom">Platinum Sponsors</h2>
            <br/>
            <hr/>
        </div>
        <div class="sponsorsOfficial">
      <%= render partial: "main/sponsors/template", locals: {
        id: "HSBC",
        name: "HSBC",
        image_file: "hsbc3.png",
        detail: "",
        site_url: "https://www.hsbc.com.au/"
      }%>
        <div class="subheading">
          <h2 class="h2Custom">Gold Sponsors</h2>
            <br/>
            <hr/>
        </div>
        <div class="sponsorsOfficial">
      <%= render partial: "main/sponsors/template", locals: {
        id: "cfa",
        name: "CFA Institute",
        image_file: "realcfa.png",
        detail: "",
        site_url: "https://www.cfainstitute.org"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "bcr",
        name: "Franklin Templeton Investments",
        image_file: "Franklin.jpg",
        detail: "",
        site_url: "https://www.franklintempleton.com.au/"
      }%>
      
  
      <%= render partial: "main/sponsors/template", locals: {
        id: "investec",
        name: "Investec",
        image_file: "investec.png",
        detail: "",
        site_url: "https://www.investec.com/en_au/welcome-to-investec.html"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "Challenger",
        name: "Challenger",
        image_file: "Chal.png",
        detail: "",
        site_url: "https://www.challenger.com.au"
      }%>
            <br/>



        </div>
        <div class="subheading">
          <h2 class="h2Custom">Silver Sponsors</h2>
            <br/>
            <hr/>
        </div>

        <%= render partial: "main/sponsors/template", locals: {
        id: "westpac",
        name: "Westpac",
        image_file: "westpac.png",
        detail: "",
        site_url: "https://www.westpac.com.au/about-westpac/"
      }%>
        <%= render partial: "main/sponsors/template", locals: {
        id: "EY",
        name: "EY",
        image_file: "ey.png",
        detail: "",
        site_url: "https://www.ey.com/en_gl"
      }%>
        <%= render partial: "main/sponsors/template", locals: {
        id: "bain",
        name: "Bain and Company",
        image_file: "bain.png",
        detail: "",
        site_url: "https://www.bain.com/"
      }%>
        <%= render partial: "main/sponsors/template", locals: {
        id: "fpa",
        name: "FPA",
        image_file: "fpa.png",
        detail: "",
        site_url: "https://fpa.com.au/"
      }%>
        
            <div class="subheading">
          <h2 class="h2Custom">Silver Sponsors</h2>
            <br/>
            <hr/>
        </div>
            
            <%= render partial: "main/sponsors/template", locals: {
        id: "amp",
        name: "AMP Capital",
        image_file: "amp.jpg",
        detail: "",
        site_url: "https://www.ampcapital.com/au/en/home"
         }%>
            
             <%= render partial: "main/sponsors/template", locals: {
        id: "amp",
        name: "Palisade Investment Partners",
        image_file: "palisade.png",
        detail: "",
        site_url: "https://palisadepartners.com.au/"
         }%>
        
        
            
         
            
        

      
      <% if  show_new_page%>
      
      <% end %>
        </div>
      <br/>
    </div>
    <div class="section2 applyContainer">
    <a name="apply"></a>
      <div class="title">
        <h1>APPLY</h1>
      </div>

      <a href="mailto:sponsorship@unswfinsoc.org.au">
      <div class="apply">
          
          <button type="button" class="btn btn-outline-primary applyButton">Help sponsor FINSOC by sending us an email at <br/><b>sponsorship@unswfinsoc.org.au</b></button>

      </div>
      </a>
        <br/>
        <br/>
        <br/>
        
    </div>
</div>
