<div class="pageSponsors">
    <a name="sponsors"></a>
    <div class = "sponsorHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1> OUR SPONSORS</h1>
    </div>
    </div>
</div>
    
    <div class="section">
    <div class="sponsors-container container">
        <br/> 
    <br/>
    <br/>
      <%= render partial: "main/sponsors/template", locals: {
        id: "ey",
        name: "EY",
        image_file: "ey.png",
        detail: "",
        site_url: "http://www.ey.com.au"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "cfa",
        name: "CFA Institute",
        image_file: "cfa.jpg",
        detail: "",
        site_url: "https://www.cfainstitute.org"
      }%>
      
      <%= render partial: "main/sponsors/template", locals: {
        id: "hsbc",
        name: "HSBC",
        image_file: "hsbc3.png",
        detail: "",
        site_url: "https://www.hsbc.com.au"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "luminispartners",
        name: "Luminis Partners",
        image_file: "luminis.jpg",
        detail: "",
        site_url: "http://www.luminispartners.com/"
      }%>
      
      <%= render partial: "main/sponsors/template", locals: {
        id: "nomura",
        name: "Nomura",
        image_file: "nomura.svg",
        detail: "",
        site_url: "http://www.nomura.com/"
      }%>
      

      <% if  show_new_page%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "aima",
        name: "Alternative Investment Management Association ",
        image_file: "aima.jpg",
        detail: "",
        site_url: "https://www.aima.org"
      }%> 
      <%= render partial: "main/sponsors/template", locals: {
        id: "gresham",
        name: "Gresham",
        image_file: "gresham.png",
        detail: "",
        site_url: "https://www.gresham.com.au/"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "challenger",
        name: "Challenger",
        image_file: "challenger.png",
        detail: "",
        site_url: "http://www.challenger.com.au/"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "gradmentor",
        name: "GradMentor",
        image_file: "gradmentor.jpg",
        detail: "",
        site_url: "http://www.gradmentor.com.au"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "fpa",
        name: "Financial Planning Association of Australia",
        image_file: "fpa.jpg",
        detail: "",
        site_url: "http://www.fpa.com.au"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
         id: "zookal",
        name: "Zookal",
        image_file: "logozookal.png",
        detail: "",
        site_url: "http://www.zookal.com.au"
      }%>
      <% end %>
        </div>
      
    </div>
    <div class="section2">
    <a name="apply"></a>
      <div class="title">
        <h1>APPLY</h1>
      </div>

      <a href="mailto:sponsorship@unswfinsoc.org.au">
      <div class="apply">
          <p class="apply-text">
          Help sponsor FINSOC by sending us an email at
          </p>
          <b class="apply-link">sponsorship@unswfinsoc.org.au</b>
      </div>
      </a>
    
    </div>
</div>