<div class="pageSponsors">
    <a name="sponsors"></a>
    <div class = "sponsorHeader">
        <div class="container">
    <div class="title1">
        <br/>
        <h1> Our Sponsors</h1>
    </div>
    </div>
</div>
    
    <div class="section">
    <div class="sponsors-container container">
        <br/> 
        <br/>
        <br/>
        <div class="subheading">
          <h2 class="h2Custom">Platinum Sponsors</h2>
            <br/>
            <hr/>
        </div>
        <div class="sponsorsOfficial">
      <%= render partial: "main/sponsors/template", locals: {
        id: "HSBC",
        name: "HSBC",
        image_file: "hsbc3.png",
        detail: "",
        site_url: "https://www.hsbc.com.au/"
      }%>
        <div class="subheading">
          <h2 class="h2Custom">Gold Sponsors</h2>
            <br/>
            <hr/>
        </div>
        <div class="sponsorsOfficial">
      <%= render partial: "main/sponsors/template", locals: {
        id: "cfa",
        name: "CFA Institute",
        image_file: "realcfa.png",
        detail: "",
        site_url: "https://www.cfainstitute.org"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "bcr",
        name: "Franklin Templeton Investments",
        image_file: "Franklin.jpg",
        detail: "",
        site_url: "https://www.franklintempleton.com.au/"
      }%>
      
  
      <%= render partial: "main/sponsors/template", locals: {
        id: "investec",
        name: "Investec",
        image_file: "investec.png",
        detail: "",
        site_url: "https://www.investec.com/en_au/welcome-to-investec.html"
      }%>
      <%= render partial: "main/sponsors/template", locals: {
        id: "Challenger",
        name: "Challenger",
        image_file: "Chal.png",
        detail: "",
        site_url: "https://www.challenger.com.au"
      }%>
            <br/>



        </div>
        <div class="subheading">
          <h2 class="h2Custom">Sponsors</h2>
            <br/>
            <hr/>
        </div>

        <%= render partial: "main/sponsors/template", locals: {
        id: "gradmentor",
        name: "GradMentor",
        image_file: "gradmentor.jpg",
        detail: "",
        site_url: "http://www.gradmentor.com.au"
      }%>
        <%= render partial: "main/sponsors/template", locals: {
        id: "UBS",
        name: "UBS",
        image_file: "ubs.png",
        detail: "",
        site_url: "https://www.ubs.com/au/en.html"
      }%>
        <%= render partial: "main/sponsors/template", locals: {
        id: "BCG",
        name: "BCG",
        image_file: "bcg.png",
        detail: "",
        site_url: "https://www.bcg.com/"
      }%>
        <%= render partial: "main/sponsors/template", locals: {
        id: "wib",
        name: "Women in Banking and Finance",
        image_file: "wibf.png",
        detail: "",
        site_url: "https://www.wibf.org.au/"
      }%>
        <%= render partial: "main/sponsors/template", locals: {
        id: "ft",
        name: "Flow Traders",
        image_file: "ft.png",
        detail: "",
        site_url: "https://www.flowtraders.com/"
      }%>

      
      <% if  show_new_page%>
      
      <% end %>
        </div>
      <br/>
    </div>
    <div class="section2 applyContainer">
    <a name="apply"></a>
      <div class="title">
        <h1>APPLY</h1>
      </div>

      <a href="mailto:sponsorship@unswfinsoc.org.au">
      <div class="apply">
          
          <button type="button" class="btn btn-outline-primary applyButton">Help sponsor FINSOC by sending us an email at <br/><b>sponsorship@unswfinsoc.org.au</b></button>

      </div>
      </a>
        <br/>
        <br/>
        <br/>
        
    </div>
</div>
