<a name="sponsors"></a>
<div class="title">
  <h1>SPONSORS</h1>
</div>
<br/> 
<div class="sponsors-container container">
  <%= render partial: "main/sponsors/template", locals: {
    id: "ey",
    name: "EY",
    image_file: "ey.png",
    detail: "",
    site_url: "http://www.ey.com.au"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
    id: "cfa",
    name: "CFA Institute",
    image_file: "cfa.jpg",
    detail: "",
    site_url: "https://www.cfainstitute.org"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
    id: "gradmentor",
    name: "GradMentor",
    image_file: "gradmentor.jpg",
    detail: "Grad Mentor specializes in finding the most talented graduates and developing into valuable long term contributors to the industry.\nThey accomplish this by serving as a direct channel between graduates and the leading firms of the financial planning industry.\nHighly engaged members of FINSOC will undoubtedly find value from our partnership with Grad Mentor.",
    site_url: "http://www.gradmentor.com.au"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
    id: "hsbc",
    name: "HSBC",
    image_file: "hsbc3.png",
    detail: "",
    site_url: "https://www.hsbc.com.au"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
    id: "luminispartners",
    name: "Luminis Partners",
    image_file: "luminis.jpg",
    detail: "",
    site_url: "http://www.luminispartners.com/"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
    id: "fpa",
    name: "Financial Planning Association of Australia",
    image_file: "fpa.jpg",
    detail: "The Financial Planning Association of Australia (FPA) is Australia's leading professional community of financial planners.\nFinancial planning is about helping people make better financial decisions for themselves and their families.\nWe are the only Australian body licensed to administer and deliver the CERTIFIED FINANCIAL PLANNER® designation, the highest designation in financial planning, recognised in 26 countries around the world.",
    site_url: "http://www.fpa.com.au"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
    id: "nomura",
    name: "Nomura",
    image_file: "nomura.svg",
    detail: "",
    site_url: "http://www.nomura.com/"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
     id: "zookal",
    name: "Zookal",
    image_file: "logozookal.png",
    detail: "Zookal was created by university students in Australia in 2011. After personally experiencing the pain of expensive textbooks, the founders decided that they would create a better option for students.\nHere was born the idea of textbook rental, allowing students to save up to 70% off on their required course materials - saving students hundreds and even thousands of dollars throughout their degree.",
    site_url: "http://www.zookal.com.au"
  }%>

  <%= render partial: "main/sponsors/template", locals: {
    id: "aima",
    name: "Alternative Investment Management Association ",
    image_file: "aima.jpg",
    detail: "",
    site_url: "https://www.aima.org"
  }%> 
  <%= render partial: "main/sponsors/template", locals: {
    id: "gresham",
    name: "Gresham",
    image_file: "gresham.png",
    detail: "",
    site_url: "https://www.gresham.com.au/"
  }%>
  <%= render partial: "main/sponsors/template", locals: {
    id: "challenger",
    name: "Challenger",
    image_file: "challenger.png",
    detail: "",
    site_url: "http://www.challenger.com.au/"
  }%>

  <a name="apply"></a>
  <div class="title">
    <h1>APPLY</h1>
  </div>

  <a href="mailto:sponsorship@unswfinsoc.org.au">
  <div class="apply">
      <p class="apply-text">
      Help sponsor FINSOC by sending us an email at
      </p>
      <b class="apply-link">sponsorship@unswfinsoc.org.au</b>
  </div>
  </a>
</div>
