<div id="finsoc-navbar-div" class="navbar navbar-inverse navbar-fixed-top z-depth-2" role="navigation">
	 <div class="container">
		  <div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar">
	        <span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
       		<span class="icon-bar"></span>
       		<span class="icon-bar"></span>
	    	</button>
			    <%= link_to image_tag("logo_sm.png", id: "header-logo"), root_path, class: "navbar-brand", method: :get %>
		  </div>
		  <div id="top-navbar" class="navbar-collapse collapse">
		      <ul class="nav navbar-nav navbar-right">
						<li class="navbar-item"><%= link_to "Events", events_path, method: :get %></li>
						<li class="navbar-item"><%= link_to "Sponsorship", sponsorship_path, method: :get %></li>
			      <li class="navbar-item"><%= link_to "About Us", about_us_path, method: :get %></li>
						<li class="navbar-item"><%= link_to "Newsletter", newsletter_path, method: :get %></li>
						<li class="navbar-item"><%= link_to "Contact Us", contact_us_path, method: :get %></li>
		      </ul>
		  </div>
	 </div>
</div>
