<!DOCTYPE html>
<html>
<head>
  <title>UNSW FINSOC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="finsoc-navbar">
    <% if request.original_fullpath.start_with?("/admin/") %>
      <%= render partial: "layouts/navbar_admin" %>
    <% else %>
      <%= render partial: "layouts/navbar" %>
    <% end %>
  </div>
  <div id="wrapper">
    <%= yield %>
    <div id="footer" class="container">
      <% if !request.original_fullpath.start_with?("/admin/") %>
        <%= render partial: "layouts/footer" %>
      <% end %>
    </div>
  </div>
  
</body>
</html>
