<!DOCTYPE html>
<html>
<head>
  <meta id="vp" name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    if (screen.width < 304)
    {
        var mvp = document.getElementById('vp');
        mvp.setAttribute('content','width=304');
    }
    </script>
  <title>UNSW FINSOC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="finsoc-navbar">
    <%= render partial: "layouts/navbar" %>
  </div>
  <div id="wrapper">
    <%= yield %>
    <div id="footer" class="container">
      <%= render partial: "layouts/footer" %>
    </div>
  </div>
</body>
</html>
