<div class="about-us-container">
  <a name="values"></a> 
    <div class="title">
      <h1>OUR VALUES</h1>
    </div>

    <div class="row text-content">
      <p>
  The Finance and Banking Society (FINSOC) is a prestigious constituent society with branches operating in three universities: the University of New South Wales, the University of Sydney and the Australian National University. 

  With 3,000 student members, FINSOC is one of the largest student society networks in Australia dedicated to student education, enrichment and employability within the financial services sector.

  FINSOC&#39s primary goal is to assist business students with an interest in banking and financial planning to achieve their career objectives within the financial services industry by utilising the following strategies: 
  <ul>
    <li>Equipping students with skills relevant to the industry</li>
    <li>Informing students about career opportunities</li>
    <li>Connecting students with employees</li>
    <li>Providing strategies and insights to build confidence and empower students to successfully navigate interviews and assessment centres</li>
  </ul>

  FINSOC&#39s focus is within banking and financial planning, providing students with a unique opportunity to gain a distinctive advantage in an ever growing competitive landscape. We do this through a vast alumni base and an extensive list of industry contacts and sponsors. FINSOC is a progressive society with the ultimate goal of adding exceptional value to your employability and career progression.
      </p>
    </div>

    <a name="team"></a> 
    <div class="title">
      <h1>OUR TEAM</h1>
    </div>

    <ul id="og-grid" class="og-grid">
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/jacky.jpg" %>' data-title="Jacky Tseng" data-subtitle="Co-President" 
            data-description="Jacky is a second year Commerce/Economics student studying Finance and Financial Econometrics. As the president of FINSOC Wealth Management Panel, he has a vision of providing university students exposure to the financial planning industry and gather student interest for this growing industry. Jacky has previously founded the UNSW Financial planning student society which is now being integrated into FINSOC operation, and he was a business development intern at 40K Globe and the founder of Dat Fighting Fish online business. When he isn&#39t busy planning and leading the future direction of FINSOC, you can find him in the gym training up his guns.">
            <div class="hover-image">
              <%= image_tag "photos/jacky.jpg", class: "portrait", alt: "Jacky Tseng" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jacky Tseng</h3><p>Co-President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/dylan.jpg" %>' data-title="Dylan Munitz" data-subtitle="Co-President" 
            data-description="Dylan is currently studying his fourth year of a combined commerce and law degree majoring in finance. As a previous Valuation and M&A intern at one of Australia&#39s largest firm&#39s, Dylan aims to use his industry experience and connections to assist in improving student knowledge, understanding and exposure to both relevant individuals and firms within the financial services industry. 

  As Co-President of FINSOC within the Investment banking arm, Dylan hopes to use his passion and commitment to financial services and specifically corporate advisory to guide the organisation in a leadership role and deliver a platform, which enhances student employability and knowledge by leveraging key events, industry connection and utilising FINSOC&#39s rich list of successful alumni&#39s. 

  When Dylan isn&#39t focusing on FINSOC&#39s next exciting event, or free student barbeque, you can find him in the gym or practicing his martial arts.">
            <div class="hover-image">           
              <%= image_tag "photos/dylan.jpg", class: "portrait", alt: "Dylan Munitz" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Dylan Munitz</h3><p>Co-President</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Financial Planning</h2></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/adriana.jpg" %>' data-title="Adriana Cheng" data-subtitle="Vice President" 
          data-description="Adriana is a 4th year student studying Commerce and majoring in Accounting and Finance. As FINSOC&#39s Wealth Management VP, she is responsible for managing the internal and external affairs of the Wealth Management portfolio. Adriana has previously worked as an audit intern at KPMG and as a financial accounting intern at Kellogg&#39s. Her aim is to provide more opportunities for UNSW students and increasing exposure to different areas of the Finance industry.">
            <div class="hover-image">
              <%= image_tag "photos/adriana.jpg", class: "portrait", alt: "Adriana Cheng" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Adriana Cheng</h3><p>Vice President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/arjun.jpg" %>' data-title="Arjun Sidhu" data-subtitle="Sponsorship Director" 
          data-description="Arjun is currently in his 3rd year of an Information Systems degree. As FINSOC&#39s Wealth Management sponsorship director, he thrives in his responsibility to bridge the gap between passionate finance students with industry leaders and trend setters. Arjun&#39s work as a sales executive has provided him with an understanding on how to communicate effectively with individuals with differing backgrounds and interests. He also aided in the foundation of the UNSW financial planning student society, an organization that is now integrated into FINSOC. When Arjun isn&#39t out meeting with sponsors, he savours a good read and enjoys scuba diving around reefs.">
            <div class="hover-image">
              <%= image_tag "photos/arjun.jpg", class: "portrait", alt: "Arjun Sidhu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Arjun Sidhu</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/lorjan.jpg" %>' data-title="Lorjan Naganthiran" data-subtitle="Events Director" 
            data-description="Lorjan is currently in his 3rd year of a combined Actuarial Studies and Commerce program, majoring in Finance. As one of FINSOC&#39s Events Directors, he is responsible for the planning and execution of sponsored career-related and social events for the Wealth Management arm. Lorjan has had financial exposure at AMP and the National Trust of Australia and is currently employed by AceTute as a high school mathematics tutor. Lorjan is extremely motivated to keep fit and healthy, but at the same time can never refuse a casual drink with friends.">
            <div class="hover-image">
              <%= image_tag "photos/lorjan.jpg", class: "portrait", alt: "Lorjan Naganthiran" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Lorjan Naganthiran</h3><p>Events Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/sophia.jpg" %>' data-title="Sophia Xu" data-subtitle="Marketing Director" 
            data-description="Sophia is currently going into her third year of Commerce, majoring in both Accounting and Marketing with a strong interest in financial planning. Sophia will serve as the Marketing Director (Financial Planning) in 2016. Coordinating team members she ensures the promotion of sponsored events while raising awareness of the opportunities that FINSOC can provide to aspiring students interested in the Finance industry. Sophia is currently working at the Australia China Business Council as a project assistant where some of her key responsibilities involve organising and marketing their projects. Earlier in her degree Sophia worked as a market research intern at Telstra&#39s muru-D program where she conducted international market research for start-ups. When Sophia is not too busy with work and study, she loves travelling and exploring new cultures and food!">
            <div class="hover-image">
              <%= image_tag "photos/sophia.jpg", class: "portrait", alt: "Sophia Xu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sophia Xu</h3><p>Marketing Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Investment Banking</h2></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/bo.jpg" %>' data-title="Bo Xu" data-subtitle="Vice President" 
            data-description="Bo is a 5th year undergraduate studying Commerce (Finance) / Engineering (Photovoltaics).  He has a strong interest in the finance industry, with particular interests in the Energy market.  As VP of the investment banking arm of FINSOC, he aims to provide students with the knowledge, direction and confidence in regards to their possible future in investment banking. Honesty and integrity are his core values and he constantly aims to do the right things, the right way by his peers. He has previously worked as a research intern in SPREE and is currently working part time at a sustainability startup operating through the Telstra Muru-D program. In his spare time, you can usually find Bo playing badminton at the UNSW badminton Club.">
            <div class="hover-image">
              <%= image_tag "photos/bo.jpg", class: "portrait", alt: "Bo Xu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Bo Xu</h3><p>Vice President</p>
            </div>
          </a>
        </li>
        <!--li>
          <a data-largesrc="photos/kate.jpg" data-title="Kate Goodwin" data-subtitle="Sponsorship Director" 
            data-description="Kate is currently in her 3rd year of tertiary education completing a Bachelor of Commerce/Bachelor of Laws, majoring in Finance. Kate has an avid interest in the finance industry that developed during her time interning at Citibank Australia in the Investment Banking Division. As Sponsorship Director of the Investment Banking Division of FINSOC, Kate is driven and motivated to develop current sponsor relations, whilst establishing new connections with potential future sponsors. Kate is a driven student, who aims to uphold a high level of integrity in all her interactions. In her own time, Kate loves to spend time by the coast and socialise with her family and friends.">
            <div class="hover-image">
              <img class="portrait" src="photos/kate.jpg" alt="Kate Goodwin"/>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Kate Goodwin</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li-->
        <li>
          <a data-largesrc='<%= image_path "photos/jennifer.jpg" %>' data-title="Jennifer Lam" data-subtitle="Events Director" 
            data-description="Jennifer is a second year Commerce/Science student who enjoys challenges and opportunities to learn in order to create pratical impacts. As the Events Director for the Investment Banking arm, she aims to be able to connect industry professionals to passionate students through FINSOC&#39s events and socials. Jen is an extremely hard working individual who loves to help out anyone she can. In particularly, she loves to eat and you can find her eating something all the time!">
            <div class="hover-image">
              <%= image_tag "photos/jennifer.jpg", class: "portrait", alt: "Jennifer Lam" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jennifer Lam</h3><p>Events Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/brendon.jpg" %>' data-title="Brendon Xu" data-subtitle="Marketing Director" 
            data-description="Brendon is currently in his third year studying a dual degree in Commerce (Finance)/ Engineering (Computer Science).  He has a strong interest in finance and network security. As Marketing Director of the Investment Banking panel, he is charged with the responsibility of pitching the societyís identity to the rest of UNSW. He has professional experience with the Adobe Creative Suite and VBA. He is currently working with UNSW IT to provide technical support across campus as well as showcasing ways to improve the student experience from an IT perspective. In his spare time, you can usually find Brendon working on his own projects, reading up on interesting articles, and urban photography.">
            <div class="hover-image">
              <%= image_tag "photos/brendon.jpg", class: "portrait", alt: "Brendon Xu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Brendon Xu</h3><p>Marketing Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Support</h2></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/victor.jpg" %>' data-title="Victor Zhang" data-subtitle="Secretary" 
            data-description="Victor is a passionate and motivated 2nd year B.Commerce student majoring in Finance, and he will serve as the Vice President (Internal) in 2016, coordinating the internal affairs of the society. 
  Over the summer, he has completed an internship at Rothschild, a Global Financial Advisory firm, which has helped him develop a broader understanding of the mechanics of  finance in the modern world, as well as developing his attention to detail and resourcefulness.
  Victor is fueled by curiosity and spontaneity, which particularly draws him towards backpacking, and ultimately expands his ability to see alternatives and to work effectively in a dynamic environment.">
            <div class="hover-image">
              <%= image_tag "photos/victor.jpg", class: "portrait", alt: "Victor Zhang" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Victor Zhang</h3><p>Secretary</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/samar.jpg" %>' data-title="Samar Gaheer" data-subtitle="Treasurer" 
            data-description="Samar is currently in his 3rd year of a dual Commerce and Informations Systems degree at UNSW, majoring in accounting. As FINSOC&#39s treasurer for 2016, he is being entrusted with recording and monitoring all expenditures and maintaining a healthy monetary balance in FINSOC&#39s bank account. Samar was a co-founder of the UNSW Financial Planning Student Society, and is currently a tutor and retail salesperson.">
            <div class="hover-image">
              <%= image_tag "photos/samar.jpg", class: "portrait", alt: "Samar Gaheer" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Samar Gaheer</h3><p>Treasurer</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/james.jpg" %>' data-title="James Cao" data-subtitle="Arc Delegate" 
            data-description="James is currently in his 3rd year of a combined Engineering and Commerce program, majoring in Finance. As FINSOC&#39s Arc Delegate, he is responsible for maintaining the good relationship between FINSOC and Arc @ UNSW, the UNSW student organisation. Having a thorough understanding of Arc policies, James ensures that FINSOC is operating within the parameters of the ARC regulations. When James is not too busy with work and study, he enjoys playing sports and meeting new people.">
            <div class="hover-image">
              <%= image_tag "photos/james.jpg", class: "portrait", alt: "James Cao" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>James Cao</h3><p>Arc Delegate</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/gavin.jpg" %>' data-title="Gavin Tam" data-subtitle="IT Director" 
            data-description="Gavin is a 4th year Software/Biomedical Engineering student at UNSW. He is the IT director of FINSOC and is responsible for managing the technological aspects of the society including developing and maintaining the website and overseeing the social media platforms. Gavin has worked as a software engineering intern at Nasdaq and Google. Outside of uni, he is an avid basketball and table tennis player.">
            <div class="hover-image">
              <%= image_tag "photos/gavin.jpg", class: "portrait", alt: "Gavin Tam" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Gavin Tam</h3><p>IT director</p>
            </div>
          </a>
        </li>
      </div>
    </ul>
</div>
