<div class="about-us-container">
  <a name="values"></a> 
    <div class="title">
      <h1>OUR VALUES</h1>
    </div>

    <div class="row text-content">
      <p>
  The Finance and Banking Society (FINSOC) is a prestigious constituent society with branches operating in three universities: the University of New South Wales, the University of Sydney and the Australian National University. 

  With 3,000 student members, FINSOC is one of the largest student society networks in Australia dedicated to student education, enrichment and employability within the financial services sector.

  FINSOC&#39s primary goal is to assist business students with an interest in banking and financial planning to achieve their career objectives within the financial services industry by utilising the following strategies: 
  <ul class="dot-points">
    <li>Equipping students with skills relevant to the industry</li>
    <li>Informing students about career opportunities</li>
    <li>Connecting students with employees</li>
    <li>Providing strategies and insights to build confidence and empower students to successfully navigate interviews and assessment centres</li>
  </ul>

  FINSOC&#39s focus is within banking and financial planning, providing students with a unique opportunity to gain a distinctive advantage in an ever growing competitive landscape. We do this through a vast alumni base and an extensive list of industry contacts and sponsors. FINSOC is a progressive society with the ultimate goal of adding exceptional value to your employability and career progression.
      </p>
    </div>

    <a name="team"></a> 
    <div class="title">
      <h1>OUR TEAM</h1>
    </div>

    <ul id="og-grid" class="og-grid">
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Edward Ren" data-subtitle="President" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Edward Ren" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Edward Ren</h3><p>President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="TBA" data-subtitle="Secretary" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>TBA</h3><p>Secretary</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Public Equity</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Lorjan Naganthiran" data-subtitle="Vice President" 
          data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Lorjan Naganthiran" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Lorjan Naganthiran</h3><p>Vice President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Reynold To" data-subtitle="Events Director" 
          data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Reynold To" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Reynold To</h3><p>Events Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Sai Naicker" data-subtitle="Sponsorship Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Sai Naicker" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sai Naicker</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Private Equity</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Jason Sun" data-subtitle="Vice President" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Jason Sun" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jason Sun</h3><p>Vice President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Goro Aoki" data-subtitle="Events Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Goro Aoki" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Goro Aoki</h3><p>Events Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Andrew He" data-subtitle="Sponsorship Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Andrew He" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Andrew he</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Operations</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Elaine Kong" data-subtitle="Careers Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Elaine Kong" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Elaine Kong</h3><p>Careers Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Administration</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Leo Chen" data-subtitle="Vice President" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Leo Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Leo Chen</h3><p>Vice President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Daniel Bu" data-subtitle="IT Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Daniel Bu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Daniel Bu</h3><p>IT Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Ho Jun Tang" data-subtitle="Marketing Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Ho Jun Tang" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Ho Jun Tang</h3><p>Marketing Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Alison Zhou" data-subtitle="Publications" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Alison Zhou" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Alison Zhou</h3><p>Publications</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Operations</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Kelly Wu" data-subtitle="Vice President" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Kelly Wu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Kelly Wu</h3><p>Vice President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="Sally Wang" data-subtitle="HR Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "Sally Wang" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sally Wang</h3><p>HR Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="TBA" data-subtitle="Socials Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "TBA" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>TBA</h3><p>Socials Director</p>
            </div>
          </a>
        </li>
      </div>
    </ul>
</div>
