<div class="about-us-container">
  <a name="values"></a> 
    <div class="title">
      <h1>OUR VALUES</h1>
    </div>

    <div class="row text-content">
      <p>
  The Finance and Banking Society (FINSOC) is a prestigious constituent society with branches operating in three universities: the University of New South Wales, the University of Sydney and the Australian National University. 

  With 3,000 student members, FINSOC is one of the largest student society networks in Australia dedicated to student education, enrichment and employability within the financial services sector.

  FINSOC&#39s primary goal is to assist business students with an interest in banking and financial planning to achieve their career objectives within the financial services industry by utilising the following strategies: 
  <ul class="dot-points">
    <li>Equipping students with skills relevant to the industry</li>
    <li>Informing students about career opportunities</li>
    <li>Connecting students with employees</li>
    <li>Providing strategies and insights to build confidence and empower students to successfully navigate interviews and assessment centres</li>
  </ul>

  FINSOC&#39s focus is within banking and financial planning, providing students with a unique opportunity to gain a distinctive advantage in an ever growing competitive landscape. We do this through a vast alumni base and an extensive list of industry contacts and sponsors. FINSOC is a progressive society with the ultimate goal of adding exceptional value to your employability and career progression.
      </p>
    </div>

    <a name="team"></a> 
    <div class="title">
      <h1>OUR TEAM</h1>
    </div>

    <ul id="og-grid" class="og-grid">
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/edward.jpg" %>' data-title="Edward Ren" data-subtitle="President" 
            data-description="If there’s ever any doubt over which form of fried chicken is the best, Edward will never hesitate in pointing out the greatness of chilli Korean fried chicken.<br><br>Currently in his third year of a double degree in  Commerce and Law majoring in Finance, Edward has fallen in love with the constantly changing industry that is Finance, whether it be the various Fintech start-ups that appear to sprout from nowhere, to the large investment banks that dominate the skyline. As President of FINSOC, Edward’s mission is to create a society that not only informs students of the various job prospects that exist for graduates with a finance major, but also a place in which students can cultivate their hard and soft skills in preparation for the workplace. ">
            <div class="hover-image">
              <%= image_tag "photos/edward.jpg", class: "portrait", alt: "Edward Ren" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Edward Ren</h3><p>President</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/lorjan.jpg" %>' data-title="Lorjan Naganthiran" data-subtitle="Vice President" 
          data-description="Lorjan is a highly ambitious 4th year Actuarial Studies and Commerce student, majoring in Finance. As Vice President for the Public Equity arm, his vision for FINSOC in 2017 is to build a stronger connection between students and potential employers by providing them with greater knowledge and direction when pursuing their future financial career. Lorjan also prides himself on honesty and integrity as he believes that they are the core of all that we do and say. When he is not using financial knowledge to gain a better grasp of the world around him, Lorjan usually spends his time catching up with friends, watching the latest episode of ’The Flash’ or listening to some chill beats by Flume and Ta-Ku as well as some modern rap by Kanye, Kendrick and Childish Gambino. Although Lorjan is a heavy enthusiast of keeping fit and healthy, he can never refuse a casual drink with mates. ">
            <div class="hover-image">
              <%= image_tag "photos/lorjan.jpg", class: "portrait", alt: "Lorjan Naganthiran" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Lorjan Naganthiran</h3><p>Vice President<br>(Public Equity)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/jason.jpg" %>' data-title="Jason Sun" data-subtitle="Vice President" 
            data-description="Jason is a friendly, outgoing bloke who aims to make the most out of his position as Vice President of FINSOC. He's the type of person who would work up a sweat trying to solve a difficult quiz question. He's also a big advocator of relaxation; you may find him hanging around with friends at college after a busy day. 
            <br> <br>
Jason aspires to work within the finance industry in the future. He plans on leveraging off the knowledge and experience he gains from FINSOC to achieve such goals.
">
            <div class="hover-image">
              <%= image_tag "photos/jason.jpg", class: "portrait", alt: "Jason Sun" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Jason Sun</h3><p>Vice President<br>(Private Equity)</p>
            </div>
          </a>
        </li>
        
        <li>
          <a data-largesrc='<%= image_path "photos/peggy.jpg" %>' data-title="Peggy You" data-subtitle="Secretary" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/peggy.jpg", class: "portrait", alt: "Peggy You" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Peggy You</h3><p>Secretary</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/leo.jpg" %>' data-title="Leo Chen" data-subtitle="Vice President" 
            data-description="Being tall is what Leo is known for even though he would rather be associated with his charisma, passion and karaoke singing voice. He is currently majoring in Marketing under his current course of Commerce/Computer Science (2nd Year) but despite not majoring in Finance, he appreciates the real world impact Finance has on both people and professionals. As the Vice President of Administration, Leo aims to build a strong foundation for FINSOC and provide the organisation with the support it needs using his experience in marketing design and research as well as computer programming.  In his spare time, he is constantly on the hunt for hidden food gems around Sydney, exploring the best cafes and low key eateries around to eat at.">
            <div class="hover-image">
              <%= image_tag "photos/leo.jpg", class: "portrait", alt: "Leo Chen" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Leo Chen</h3><p>Vice President<br>(Administration)</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/kelly.jpg" %>' data-title="Kelly Wu" data-subtitle="Vice President" 
            data-description="When we say that Kelly loves people...we really really mean it. 
            <br><br>
Kelly is a 99% extroverted ESTJ (seriously) currently studying Commerce (Finance) and Law. She is passionate about inspiring young leaders through encouragement, tough challenges and instilling a sense of purpose and significance. As Vice-President (Operations), Kelly will recruit and train students with talent and potential so that they can not only contribute to FINSOC and all the students we serve but also develop lifelong skills. Kelly also makes it her mission to create a strong sense of family, community of support, and camaraderie within the FINSOC family so that teamwork is always fun and productive. ">
            <div class="hover-image">
              <%= image_tag "photos/kelly.jpg", class: "portrait", alt: "Kelly Wu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Kelly Wu</h3><p>Vice President<br>(Operations)</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Public Equity</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/reynold.jpg" %>' data-title="Reynold To" data-subtitle="Events Director" 
          data-description="If you ever need a hand, he won’t hesitate to go the extra mile for you. As a 3rd year Actuarial and Commerce (Finance major) student, Reynold has had his fair share of uni experiences that he is more than happy to share with you. The doors opened by a Finance degree are limitless and Reynold wants to create exciting opportunities for all the students out there who are hoping to get some real industry experience. When he isn’t stressing about his next ACTL exam (which is 90% of the time), he likes to stay active with basketball, taekwondo and lifting or simply just kicking back with mates. Along with the rest of the passionate FINSOC fam, he wants to take the society to new heights in 2017 by empowering students with the skills and knowledge to succeed in the finance industry.">
            <div class="hover-image">
              <%= image_tag "photos/reynold.jpg", class: "portrait", alt: "Reynold To" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Reynold To</h3><p>Events Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/sai.jpg" %>' data-title="Sai Naicker" data-subtitle="Sponsorship Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/sai.jpg", class: "portrait", alt: "Sai Naicker" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sai Naicker</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Private Equity</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/goro.jpg" %>' data-title="Goro Aoki" data-subtitle="Events Director" 
            data-description="Goro is a passionate 3rd year Actuarial Studies and Commerce student aspiring towards a triple business major. As one of FINSOC’s Events Directors, he is tasked with the role of planning and executing sponsored career-related and social events under the Private Equity arm. By bringing together experience, vision and a “can do” attitude to FINSOC, this year he aims to provide all finance students with more opportunities to be involved and become an active member of the society. Passionate about the water, Goro loves to go fishing with neighbourhood friends in his free time.">
            <div class="hover-image">
              <%= image_tag "photos/goro.jpg", class: "portrait", alt: "Goro Aoki" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Goro Aoki</h3><p>Events Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/andrew.jpg" %>' data-title="Andrew He" data-subtitle="Sponsorship Director" 
            data-description="He’s a man with big dreams and a big heart. 
<br> <br>
As a third year Commerce & Economics student, Andrew has found many passions and hobbies outside of academics including basketball and board games. Also, when the chance arrives, he is always calculating his expected return in a game of poker. 
<br> <br>
As the Private Equity Sponsorship director, he is looking to take on this challenge of penetrating a completely new market for university sponsorship and spice up the finance space of UNSW. You know he will be hustling. 
">
            <div class="hover-image">
              <%= image_tag "photos/andrew.jpg", class: "portrait", alt: "Andrew He" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Andrew he</h3><p>Sponsorship Director</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Administration</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/daniel.jpg" %>' data-title="Daniel Bu" data-subtitle="IT Director" 
            data-description="Daniel is a fourth year Software Engineering and Finance student who has decided to use his skills for the betterment of mankind, which undoubtedly lies in the success of FINSOC.
With his limited finance knowledge however, extraordinary programming skills, he aims to help expand the online presence for unsw finance students. In his free time you’ll find him reading, catching up on his favourite shows and movies or in a pool somewhere out there.">
            <div class="hover-image">
              <%= image_tag "photos/daniel.jpg", class: "portrait", alt: "Daniel Bu" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Daniel Bu</h3><p>IT Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/hojun.jpg" %>' data-title="Ho Jun Tang" data-subtitle="Marketing Director" 
            data-description="Currently studying towards a degree in Commerce/Economics, Ho Jun’s passion and motivation to learn about Finance, Marketing and Economics has led to him being the humble recipient of multiple scholarships in Business and Accounting at UNSW. When he’s not expanding his knowledge in finance or marketing, you’ll find him playing basketball, or watching his favourite AFL team, the Sydney Swans in action. Ho Jun’s wealth of marketing knowledge will continue to empower and connect students to employers within the finance Industry.">
            <div class="hover-image">
              <%= image_tag "photos/hojun.jpg", class: "portrait", alt: "Ho Jun Tang" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Ho Jun Tang</h3><p>Marketing Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/alison.jpg" %>' data-title="Alison Zhou" data-subtitle="Publications" 
            data-description="Quixotic in every sense of the word, Publications Director Alison always aspired to become a YA author, until the day she realised she’d rather read about alternative worlds than create them. Now studying a Commerce (International) degree, majoring in Finance and Business Strategy & Economic Management, Alison has become firm friends with the pragmatist in her. She hopes that the globally-oriented nature of her degree can prepare her for a career overseas, where she can put her bilingualism and innovative mindset to good use. Currently, Alison also serves as Vice President of Education for Australia China Youth Association and Social Media Director for TEDxUNSW. She finds the latter rather ironic given that she was once voted ‘Most likely survivor of a digital apocalypse’, and is a proud Luddite at heart. ">
            <div class="hover-image">
              <%= image_tag "photos/alison.jpg", class: "portrait", alt: "Alison Zhou" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Alison Zhou</h3><p>Publications</p>
            </div>
          </a>
        </li>
      </div>
      <div class="subsection-title"><h2>Operations</h2><hr></div>
      <div class="row ppl-row">
        <li>
          <a data-largesrc='<%= image_path "photos/elaine.jpg" %>' data-title="Elaine Kong" data-subtitle="Careers Director" 
            data-description="Elaine is a second year Commerce student majoring in Accounting and Finance who thrives on creating more educational opportunities for the students of UNSW. As the Careers Director of 2017, she aims to guide the future employees of the financial industry with the endless opportunities and pathways opened with a finance major. She also aspires to prepare students for the recruitment stages of job interviews as well as hosting and creating case competitions. Elaine is an extremely hard working individual who is always willing to help others and can be found discovering the wild through hiking up trails or just soaking in the sun at a beach.">
            <div class="hover-image">
              <%= image_tag "photos/elaine.jpg", class: "portrait", alt: "Elaine Kong" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Elaine Kong</h3><p>Careers Director<br>Socials Director</p>
            </div>
          </a>
        </li>
        <li>
          <a data-largesrc='<%= image_path "photos/sally.jpg" %>' data-title="Sally Wang" data-subtitle="HR Director" 
            data-description="Passionate about Finance, keeping warm, and avoiding readings until the last minute, Sally is your friendly HR director going into her 2nd year of a Commerce/Law degree and majoring in Finance. As the Human Resources director she aspires to create an environment where all FINSOC members can have fun, be productive and feel belonged. Although you might find her sprawled with a furry friend in, well, almost anywhere, don’t let the fluff trick you because Sally has a voracious drive to achieve the goals she’s set herself and she’s more than capable to call you out if you step out of line!">
            <div class="hover-image">
              <%= image_tag "photos/sally.jpg", class: "portrait", alt: "Sally Wang" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>Sally Wang</h3><p>HR Director</p>
            </div>
          </a>
        </li>
        <!--
        <li>
          <a data-largesrc='<%= image_path "photos/empty.jpg" %>' data-title="TBA" data-subtitle="Socials Director" 
            data-description="">
            <div class="hover-image">
              <%= image_tag "photos/empty.jpg", class: "portrait", alt: "TBA" %>
              <div class="hover-text"><p>Click for bio</p></div>
            </div>
            <div class="ppl-title">
              <h3>TBA</h3><p>Socials Director</p>
            </div>
          </a>
        </li>
        -->
      </div>
    </ul>
    <br />
    <br />
    <hr />
</div>
