<div class="container footerCentre">

	<div class="col-md-2 site-map">
		<h5>ABOUT US</h5>
		<%= link_to "Our Team", about_us_path(anchor: "team"), method: :get %>
		<%= link_to "Our Values", about_us_path(anchor: "values"), method: :get %>
        <%= link_to "Contact Us", contact_us_path(anchor: ""), method: :get %>
	</div>
	<div class="col-md-2 site-map">
		<h5>SPONSORS</h5>
		<%= link_to "Our Sponsors", sponsorship_path(anchor: "sponsors"), method: :get %>
		<%= link_to "Apply", sponsorship_path(anchor: "apply"), method: :get %>
        
	</div>
	<div class="col-md-2 site-map">
		<h5>EVENTS</h5>
		<%= link_to "Latest events", events_path(anchor: "upcoming"), method: :get %>
	</div>
    <div class="col-md-2 site-map">
		<h5>PUBLICATIONS</h5>
		<%= link_to "Newsletter", newsletter_path(anchor: ""), method: :get %>
        <%= link_to "Course Guide", course_guide_path(anchor: ""), method: :get %>
	    <%= link_to "Financial Articles", blog_path(anchor: ""), method: :get %>
	</div>
	<div class="col-md-3 social-media-box" id="contacts">
        <p>
            <a style="display:inline-block !important;" id="facebook-icon" href="https://www.facebook.com/FINSOCUNSW/" target="_blank">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a style="display:inline-block !important;" id="linkedin-icon" href="https://au.linkedin.com/company/unsw-finance-and-banking-society" target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a> 
		</p>
        <p>
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			Kensington, New South Wales
		</p>
		<p>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <a style="" href='mailto:enquiries@unswfinsoc.org.au'>enquiries@unswfinsoc.org.au</a>
        </p>
        
       
	</div>
     
</div>

<div class="container">
    <div class="col-md-3">
        <p>&copy 2020 UNSW FINSOC </p>
    </div>
</div>
